[2019-06-30 07:43] glennawatson opened #1 "Add dependabot to allowed users for cla bot"
A lot of the dnf users use dependabot.

When the cake team brought up the issue in the past the suggestion was to add the dependabot user to a whitelist for the cla bot. At the moment some changes on dependabot pr fail the cla if they are large enough commits.

[2019-06-30 08:25] gep13 commented on #1
It was discussed on Twitter here:

https://twitter.com/dependabot/status/1093837459895578629

[2019-06-30 14:10] jongalloway commented on #1
We're using an install of the CLA Assistant that is maintained by the open source project office at Microsoft. CLA Assistant also list that in their FAQ - we have to whitelist bot accounts individually in each org or repo: https://github.com/cla-assistant/cla-assistant#faq (which echoes the dependabot instructions). We can't whitelist for the entire CLA system. I've asked about getting that change

[2019-06-30 18:10] glennawatson commented on #1
The MvvmCross project asked about it on leadership slack, and we decided to put a issue in, also the ReactiveUI project has dependabot dependencies, and also the cake team.

[2019-07-01 17:04] jongalloway commented on #1
I set up MvvmCross, ReactiveUI, and Cake. Let me know how those work, and I can keep rolling out to other repos and projects.

[2019-07-03 13:37] pkgw opened #2 "Taking over domain registrations for AAS WorldWide Telescope project"
Hi,

I'm the leader of the AAS WorldWide Telescope project. We have several domains registered to the project by individual contributors, and I'd like to work on centralizing their management under the DNF. How should I go about starting that process?

While I'm here — I'd also like to review the DNS configuration for the main domain, worldwidetelescope.org. There are some updates to be made but I

[2019-07-15 23:27] glennawatson opened #3 "Shared contact for confidential contact"
At the moment if we need things like visual studio licenses where we share details such as contributors private details we have to send a email to contact@dotnetfoundation.org

The problem with this approach at the moment is we often will have emails sitting there for quite some time. Eg I have 4 unanswered emails from Feb 2019 onwards.

We need a similar thing to the issues but for confidential i

[2019-07-16 04:38] haacked commented on #3
@jongalloway who is on the receiving end of that email address. Should it be all the board members? What's the process for distributing visual studio licenses? Can others help?

Also, when is MS just going to start giving out those licenses for free and realize they're a cloud platform company and not a developer tools company. Oh wait, did I say that out loud. 😛

[2019-07-16 17:10] haacked commented on #2
Hi @pkgw, sorry for the delayed response. The board is still getting its house in order.

I admit I'm a little ignorant of how DNS is handled for member projects. So is the main DNS for AAS WorldWide Telescope project under the .NET Foundation's control?

@jongalloway who is our DNS provider? Who maintains that? Perhaps members of the board can pitch in to help get DNS transfers underway.

[2019-07-16 17:14] haacked commented on #1
I'm assuming that's a policy decision and not a technical issue. If so, maybe we should suggest an API for whitelisting. That way we can do that as part of our onboarding.

[2019-07-16 17:18] pkgw commented on #2
@haacked To the best that I've been able to determine, yes, the Foundation controls our DNS. I haven't been able to discover a way to modify our DNS config directly or even just view it (except for queries, of course).

FWIW, I was not involved in the project when it came on board with the Foundation, so it is very possible that there is some institutional knowledge that's been lost.

[2019-07-16 17:22] haacked commented on #2
Ok, I'll try and follow up with @jongalloway to learn more about how this works. Having the foundation manage the DNS seems not very scalable. I see the benefit in that your project doesn't have to pay for it, so we should see if we can come up with a better approach.

[2019-07-16 17:28] jongalloway commented on #2
It looks like worldwidetelescope.org was never transferred from Microsoft to .NET Foundation ([https://whois.icann.org/en/lookup?name=worldwidetelescope.org](whois lookup). That's not a requirement, projects can host their sites however they want, but we probably should transfer it.

For the domains that the .NET Foundation does have registered, we've been using Azure DNS. It's really configurable

[2019-07-16 17:36] jongalloway commented on #1
It's a technical issue. We're using [CLA Assistant](https://github.com/cla-assistant/cla-assistant#faq) and it's a per-project setting. There may be a way to get it changed globally, but would require some dev. Our CLA system is maintained by the Microsoft Open Source Project Office, I just sent a ping to them asking about it. Keep in mind that this CLA is also used by CoreCLR, CoreFX, ASP.NET, et

[2019-07-16 17:44] haacked commented on #1
Well, good thing it's open source! https://github.com/cla-assistant/cla-assistant Has anyone logged an issue about this?

I can't think of a situation where you wouldn't want dependabot white listed. But assuming they're not OK with this, we may be better served by an API.

Would be nice if someone who better understood the issue to research whether CLA Assistant has an API to change settings, and

[2019-07-16 17:48] pkgw commented on #2
Errrr, interesting ... with the Microsoft contact name and msft.net DNS servers I had thought that meant that things had been transferred, but I suppose the whole point is that the Foundation is *not* Microsoft.

In which case, I am not sure who actually controls our domain within Microsoft, which is exciting. Do you know anything about this "MarkMonitor" registrar? That might be a clue.

[2019-07-16 17:51] jongalloway commented on #3
Several different questions to answer here:

### Contact e-mail
Currently, contact@dotnetfoundation.org goes to @BethMassi and me. I'm not sure if we'd want to copy @dotnet-foundation/directors on all e-mail that goes to contact, since it's used for all of our service notifications, billing, etc. It might be better to set up another more specific if needed, e.g. project-support@dotnetfoundation.or

[2019-07-16 17:54] jongalloway commented on #2
Transferring from Microsoft won't be a problem, there's a domains support team and I have some PM's I've worked with to get things transferred in the past. Would you like to move to our Azure DNS?

[2019-07-16 17:55] haacked commented on #3
👍

Ah, this is good to know. We should make this very clear.

At the same time, who do we talk to at Microsoft to make this a benefit? For example, MVPs get access to Microsoft software. I wonder if we can partner with the MVP Program to extend some of their benefits to DNF members. That would be a nice contribution by Microsoft and set an example to other corporations to do likewise.

[2019-07-16 20:56] jongalloway opened #5 "NUKE"
Submitted by @matkoch, project questionnaire [here](https://docs.google.com/document/d/1s8ww8lxL1hEluNdnYSZLDIf3WKqUF_PCc6Z9RBLc3GU/edit?usp=sharing)

[2019-07-16 21:01] jongalloway commented on #5
Looks good to me, will submit to advisory council with July batch

[2019-07-16 21:04] tidusjar commented on #5
We already have CAKE, NUKE achieves the same goal just in a slightly different way.

But yeah I've used both CAKE and NUKE and they are both very good tools.

[2019-07-16 21:27] jongalloway opened #6 "Omnisharp"

[2019-07-24 18:30] jongalloway opened #7 "BuildAMation"
## 1.   General Information

**Project Name:** BuildAMation

**License:** BSD3

**Contributor (Company, Organization or individual name(s)):** Mark Final

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/markfinal/BuildAMation

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and email address required of the individual(s)

[2019-07-25 17:31] jongalloway commented on #2
@pkgw Checking on this - happy to transfer to Azure DNS or somewhere else, let me know.

[2019-07-25 18:27] pkgw commented on #2
Thanks for pinging — I lost track of this. I would definitely like to move. What's the risk of downtime?

Also, would the transfer that you're envisioning also involve transferring ownership of the domain, or would that remain a separate item to consider?

[2019-07-26 18:52] sbwalker opened #8 "Oqtane"
## 1.   General Information

**Project Name:** Oqtane

**License:** MIT

**Contributor (Company, Organization or individual name(s)):** Shaun Walker

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/oqtane/oqtane.framework

**Project Homepage URL (if different):** https://www.oqtane.org/

**Project Transfer Signatories:**
Full legal name and email address required o

[2019-07-29 05:24] markfinal commented on #7
@jongalloway I cannot edit the above, so adding changes below - up to you if you want to merge in.

1.   General Information
Project Homepage URL (if different): http://buildamation.com/

Project Transfer Signatories:
Mark Final, markfinal@hotmail.com

3.   Project Governance
Project Lead:
Email: markfinal@hotmail.com

Committers:
No-one else to date.

Governance Model:
My preference for new code

[2019-07-30 21:23] mzorec opened #9 "FlubuCore"
## 1.   General Information

**Project Name:** FlubuCore

**License:** MIT

**Contributor (Company, Organization or individual name(s)):** Marko Zorec, Zoro Zorec

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/dotnetcore/FlubuCore

**Project Homepage URL (if different):** https://flubucore.dotnetcore.xyz/

**Project Transfer Signatories:**
Full legal name and ema

[2019-07-31 19:31] MeikTranel commented on #6
I would argue that OmniSharp has had a significant impact in evangelizing a open-source and crossplatform .NET through VSCode, a ton of .NET developers use it, it is by itself an amalgamation of dotnet foundation projects and it's going to continue to be a central point in spreading dotnet in the years to come.
This should be the easiest application process ever.

[2019-07-31 20:03] jongalloway commented on #6
Absolutely agree! We've actually had this in the works for a while, we just need to sign it off and get it done.

[2019-08-07 21:40] jogibear9988 opened #10 "linq2db"
## 1.   General Information

**Project Name:** linq2db

**License:** MIT

**Contributor (Company, Organization or individual name(s)):** https://github.com/linq2db

**Existing OSS Project? (Yes/No):** yes

**Source Code URL:** https://github.com/linq2db/linq2db

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and email address required of the individual(

[2019-08-07 21:41] jogibear9988 commented on #10
We also have a slack channel wer we could discuss more needed infos

[2019-08-12 00:09] jogibear9988 commented on #10
@jongalloway do you have a time schedule when the projects get a answer about the process?

[2019-08-20 19:17] jogibear9988 opened #11 "How to Request for Joining of a Project."
What is the current way for asking to add a Project?

If I look on the Homepage, I'm directed to this site: https://github.com/dotnet/foundation/blob/master/guidance/new-projects.md
wich links to this page:
https://dotnetfoundation.sharepoint.com/:x:/r/_layouts/15/WopiFrame.aspx?guestaccesstoken=FIHTIfH3tzOmRhiXq4f%2bPVKhXkvZRosPxDiFl%2bfi6Ig%3d&docid=1_1657916a0083245a79bc0335d466ef80f&wdFormId=%

[2019-08-20 19:18] jongalloway commented on #11
Thanks @jogibear9988 - we need to update that. All of the links and guidance should be pointing to this repo.

[2019-08-20 20:44] jogibear9988 commented on #11
and what about the status of the requests?

[2019-08-21 19:53] IrisClasson commented on #11
Thanks for pointing out the bad URL @jogibear9988. We'll make sure to update it!

Just adding this in case somebody else reads this:

The correct way (and we really should be more clear about this) is as following:

1. Go to the [dotnetfoundation/projects/issues](https://github.com/dotnet-foundation/projects/issues/)
![2019-08-21_21-40-04](https://user-images.githubusercontent.com/1671084/63463383

[2019-08-21 20:16] jogibear9988 commented on #11
@IrisClasson my question is, what is the time schedule for a request?

I see at https://github.com/dotnet-foundation/projects/issues/ there are now 6 Requests. But no one has an answer if it will be selected or not.

[2019-08-22 07:26] tomkerkhove commented on #11
For what it's worth, onboarding new projects need thorough analysis and time.

I presume you are asking because of https://github.com/dotnet-foundation/projects/issues/10? It's been open for 14 days which I think is fair, but would be good to document an indication *somewhere* to highlight what to expect.

Good point.

[2019-08-23 01:34] jogibear9988 commented on #11
It‘s about that we did the application also with the old formular multiple times and never got an answer.
And also the other projects wich were created by jongalloway more days ago, no update after the creation.
Yes it would be nice that there will be a official time schedule after wich the project can hope for a statement

[2019-08-23 22:10] mitchelsellers opened #12 "Domain Registration & Azure Resources Confirmation"
The DNN Project has a domain name that we would like to get registered in a manner that isn't tied to any specific community member, and once that is done we need to get an Azure Web App created for hosting, with SSL Certificate for that particular domain.

I currently own the domain in question and can transfer wherever it needs to go.

Is this all stuff that we can get from the .NET Foundation?

[2019-09-04 03:16] mitchelsellers commented on #12
Additionally, another question/request is around email hosting.  Is there any Office365, or other solution available for projects?

[2019-09-04 07:23] jongalloway commented on #12
This is a few issues mixed together, so we should probably split them out.

* Domain registration - Yes, we've got Azure DNS set up that makes it pretty easy to manage DNS, and you've already got an admin team set up in Azure so that'd be pretty straightforward
* Azure App Service - Also pretty straightforward, would just need specifics. I can create and put in your existing resource group so the

[2019-09-06 04:27] mitchelsellers opened #13 "Creation of Resource Group in Azure Sponsorship"
As we are working on resources inside of the Sponsorship Azure account we would like to create two resource groups to help group/manage assets, however, I don't have permission to create resource groups for the DNN Platform Project.  Could we get the following two Resource Groups added

DNN-UpdateService
DNN-Community

[2019-09-06 05:15] mitchelsellers opened #14 "Creation of an Email Distribution List"
If we could get an email distribution list setup for the DNN Platform project.

The immediate need is for security@dnncommunity.org that sends all received email to security@dnnsecurity.atlassian.net it would be great.

We have control of DNS to help support any changes here

[2019-09-06 05:52] mitchelsellers commented on #12
Perfect, closing this out and will revisit individual items

[2019-09-06 05:57] #12 closed

[2019-09-08 08:53] gep13 opened #15 "New email alias for cakebuild.net domain"
Would it be possible to setup a new email alias (abuse@cakebuild.net)?  This will be used within our Contributing Guidelines, etc.

If it could include all Cake Team members in this.

[2019-09-08 08:56] gep13 opened #16 "New Core Cake Team Member"
We have recently brought on a new Core Cake Team Member (@jericho) https://github.com/jericho who has been doing an amazing amount of work in the Cake Community, and we felt it was time to bring him on as a full team member.

What information is required in order to get him access to the benefits offered by the .Net Foundation.

[2019-09-14 07:35] jongalloway commented on #16
What would you like us to set up? Some options:

- Add to Cake DLs
- Invite to project leader slack
- Request MSDN subscription (disclaimer, not a guaranteed benefit, just something we request)
- Anything else?

I looked up e-mail from a git commit; generally that's also something we'd need in the future.

[2019-09-14 07:41] jongalloway commented on #15
Complete

[2019-09-14 07:41] #15 closed

[2019-09-14 07:45] gep13 commented on #15
Thank you!

[2019-09-14 07:48] gep13 commented on #16
The Cake Team also uses our LastPass Subscription to share Cale account details, so it would be good to be able to have them access for that.

Having a jericho@cakebuild.net email address would be good as well.

[2019-09-17 14:24] mitchelsellers commented on #13
Just checking back in on this

[2019-09-17 14:25] mitchelsellers commented on #14
Checkin gon this one as well

[2019-09-17 14:26] mitchelsellers opened #17 "Assistance with Azure Marketplace"
For the DNN Platform project there is currently a published WebDeploy package (https://azuremarketplace.microsoft.com/en-us/marketplace/apps/DNNCorp.DNNPlatform?tab=Overview) but this package is VERY old, and there is no-one that has any access to the account associated with this.

We need some assistance to get this at a minimum unlisted, as it is a version with security issues.  But ldeally we n

[2019-09-19 12:43] pkgw commented on #2
Time flies! What are the prospects for pushing this forward?

[2019-09-19 17:43] MeikTranel commented on #6
Seeing as this moved around to "accepted" can this issue be closed? Or do we wait for the announcement and the listing to go up?

[2019-09-28 20:39] glennawatson opened #18 "Project leaders support"
@jongalloway mentioned in a recently closed issue on the project maturity post.

The project leaders don't have a formal place in the .NET Foundation leadership structure, which led to the above communication issue. Of course they should, they're community leaders, invested in the .NET Foundation's success, affected by policy and service changes, etc.

I want to start this issue to address that Jo

[2019-09-29 09:08] gep13 commented on #16
@jongalloway just wanted to touch base with this to see how it is progressing, thanks.

[2019-09-29 22:24] jongalloway commented on #16
Just pinged you via Slack to verify name and e-mail before LastPass and MSDN steps. Other parts are done, updated on checklist above.

[2019-09-30 18:09] Aaronontheweb commented on #18
Reposting my feedback from https://github.com/dotnet-foundation/project-maturity-model/issues/48, per @glennawatson 's suggestion.

-------

Since I don't see a good repository for talking about how the .NET Foundation itself is run, I'm going to post this here.

I want to thank @jongalloway, @richlander, @JamesNK, @ImmoLandwerth and other Microsofties have done the thankless task of dealing with

[2019-10-01 15:26] jongalloway commented on #16
Added to LastPass, requested MSDN.

Last step remaining is to add him to the CakeTeam in LastPass once the invite is accepted. I think everyone on CakeTeam is an admin for that group and should be able to add him, can you test that?

Will wait to close until that's done.

[2019-10-01 17:13] Jericho commented on #16
@jongalloway thanks for doing all this. I accepted LastPass invitation and MSDN subscription.

I also accepted Office365 invite which you sent a little while ago but it appears I haven't been assigned a license. Here's the message I get when I login: `You don't have a license to use Office 365 with the user ID assigned to you by your work or school. Ask your admin to assign one to you. If you're a

[2019-10-01 18:27] david-driscoll commented on #6
@MeikTranel I haven't see anything about it yet, so we'll see what @jongalloway says.  😄

[2019-10-01 23:08] jongalloway commented on #16
@Jericho I didn't know if you'd need a license, and we pay for them so I'm cheap. ;)

Assigned.

All set?

[2019-10-02 01:23] Jericho commented on #16
I understand, and also I don’t want to be a financial burden on the foundation!

In case it makes a difference: I don’t need access to the office suite (already have a paid subscription) and unless I’m mistaken the Cake team doesn’t use the various communication apps such as Skype or Kaizala. So feel free to take away those licenses.

As far as I know, I only need a “@cakebuild.net” email address

[2019-10-02 05:32] #16 closed

[2019-10-02 06:44] gep13 commented on #16
@jongalloway thank you for taking the time to do this!  Appreciate it!

[2019-10-08 21:02] jongalloway opened #19 "Project Support Request: CoreWCF - CI/CD"
### Please fill in the information below:
- **Project Name:** CoreWCF
- **Due by:**
- **Description:** Set up CI/CD on Azure DevOps

[2019-10-08 21:03] jongalloway commented on #19
cc @mconnew @tibor19

[2019-10-08 21:14] jongalloway commented on #19
I've created and invited you both to https://dev.azure.com/dotnet/CoreWCF. It's private for now, I'd recommend making it public if that's okay with you.

Next step is setting up automated build and package creation. Can you start on this using the docs below and ping if you need help?

- [ ] [Set up build pipeline](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/dotnet-core?view

[2019-10-08 23:57] mconnew commented on #19
@jongalloway, Azure Dev Ops is getting really confused because apparently that triggered creating me a second work account. I have the friendly name alias account for my Microsoft work email and now I can't do anything in the portal because it keeps switching to my original work work account under my alias@microsoft.com address which doesn't have access. I think I tripped over an edge case bug in

[2019-10-09 00:19] jongalloway commented on #19
@mconnew Removed work account and added outlook account. Once you accept I'll add you to the team.

[2019-10-09 00:24] onovotny commented on #19
@mconnew I just added that account to the project admin of CoreWCF. Please confirm that it works for you and let me know how else I can help.

[2019-10-09 04:31] mconnew commented on #19
@jongalloway, @onovotny, I've accepted the invite but I think I just fell down the same bug hole. My MSA has multiple email accounts, the primary account being one I created 25 years ago and not one I generally use publicly as I was a kid when I made it 😃. But I have an azure subscription tied to it, so I'm hitting the same problem again as it looks like it thinks there are two separate accounts a

[2019-10-09 05:31] jongalloway commented on #19
Ping me Weds if you're blocked and AzDO can't help, we can screen share or whatever and get it set up.

[2019-10-09 06:49] jongalloway commented on #13
Added both, with you as owner. Closing as fixed, re-open if there's a problem.

[2019-10-09 06:49] #13 closed

[2019-10-09 06:56] jongalloway commented on #14
Started setup, need a TXT record added to verify domain ownership to create e-mail addresses for dnncommunity.org:

TXT name: | @ or skip if not supported by provider.
TXT value: | MS=ms20755896
TTL: | 36003600 or your provider default.

[docs link on domain verification](https://docs.microsoft.com/en-us/office365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider?redirectS

[2019-10-09 06:59] jongalloway commented on #17
Will ask around, but with two disclaimers:
- I've had very low success rate getting help with Azure Marketplace issues in the past
- I and some other people in .NET Foundation work at Microsoft, but there's no official relationship or support for .NET Foundation from Azure Marketplace

[2019-10-09 07:10] jongalloway commented on #17
Found the support alias and e-mailed about both de-listing current insecure release and getting access to push new releases. Again, I've had very low success rate getting engagement from that team in the past, but fingers crossed.

[2019-10-09 13:46] mitchelsellers commented on #14
@jongalloway Record added

[2019-10-09 16:50] jongalloway commented on #14
@mitchelsellers Okay, hopefully the last step - it says you need to add the following MX, CNAME, and TXT record to DNS to finish setup. Zip contains a CSV file with info and a zone file if your DNS provider has support to import that.

After that's set up, O365 will have dnncommunity.org set up as a supported domain so we can add any DL's you want very quickly going forward.

[dnncommunity.org.zon

[2019-10-09 18:59] david-poindexter commented on #14
@jongalloway and @mitchelsellers - I'll get these added as soon as possible.  Thanks!

[2019-10-09 19:09] jongalloway commented on #14
I've set up security@dnncommunity.org that forwards to security@dnnsecurity.atlassian.net

@david-poindexter & @mitchelsellers: I think the main reason for the additional DNS settings are to make sure e-mails aren't flagged as spam. So it should probably work already if you want to test it.

[2019-10-09 19:50] david-poindexter commented on #14
@jongalloway thanks!  All DNS records have now been added.

[2019-10-09 21:13] jongalloway commented on #14
@david-poindexter @mitchelsellers Can one of you send an e-mail to security@dnncommunity.org and verify that it is delivered to security@dnnsecurity.atlassian.net. Once that's verified we can close this out.

[2019-10-09 21:14] david-poindexter commented on #14
@jongalloway I sent a test email and received a confirmation of receipt.

[2019-10-09 21:24] mitchelsellers commented on #14
Looks good for now!  Thanks, everyone!

[2019-10-09 21:24] #14 closed

[2019-10-10 01:36] david-driscoll commented on #6
@jongalloway let me know what, if any, additional information you need. 👍

[2019-10-10 21:18] jongalloway commented on #6
@david-driscoll The project was accepted by the board. Next high level steps:

- [ ] **Sign contribution agreement.** I have an e-mail from you listing 14 top contributors. I'll send you a draft for a quick skim via e-mail, then send out via DocuSign if it looks good to you.
- [ ] **Announcement plan.** Up to you, can be as simple as blog post and tweets.
- [ ] **[New project checklist.](https://g

[2019-10-14 21:16] bruno-garcia opened #20 "NuGet Trends"
## 1.   General Information

**Project Name:** NuGet Trends

**License:** MIT

**Contributor (Company, Organization or individual name(s)):** Bruno Garcia, João Grassi

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/NuGetTrends/nuget-trends/

**Project Homepage URL (if different):** https://nugettrends.com/

**Project Transfer Signatories:**
Full legal name and em

[2019-10-15 18:17] robertmclaws opened #21 "Project Support Request: Documentation"
### Please fill in the information below:
- **Project Name: OData - Restier**
- **Due by: Oct 31**
- **Description:**
We're looking to get the docs for OData Restier up and running. We think there is a way to do that through docs.microsoft.com, but ultimately the .NET Foundation needs a Docs home for all of its projects. Since DocFX is already a .NET Foundation project, Microsoft should consider e

[2019-10-17 15:04] rprouse opened #22 "Project Support Request: NUnit - Code Signing Certificate and Service"
- **Project Name:** NUnit
- **Due by:** N/A
- **Description:** The NUnit project would like to start signing our NuGet release packages in Azure DevOps. @onovotny has given me the information I need to complete the process once we have a cert. He asked me to create this issue here for tracking and to kick off the process.

The related NUnit issue is https://github.com/nunit/nunit/issues/3393

[2019-10-17 15:12] jongalloway commented on #22
- [ ] Register trade name
- [ ] Request code signing certificate
- [ ] Configure signing service

[2019-10-17 16:28] jogibear9988 commented on #10
@jongalloway hey jon, any news to this?

[2019-10-17 23:14] jongalloway commented on #22
@ChrisSfanos Can you please do the NUnit d/b/a setup?

[2019-10-18 13:36] rprouse commented on #22
@jongalloway just "NUnit" is fine for the trade name.

[2019-10-19 13:13] onovotny commented on #22
@ChrisSfanos Please lmk when the d/b/a is in the system and then I can take care of the DigiCert bits.

[2019-10-23 21:08] mconnew commented on #19
@onovotny, @jongalloway, working with the Azure DevOps team, I've found a workaround for my auth issue, but now I'm being told I can't enable the integration because of the error "Sorry, this project cannot be used since you do not have permission to edit builds." Can you make sure I have the correct permissions on the devops project.

[2019-10-24 02:30] onovotny commented on #19
Can you please loop us into the thread on email? We're both in the GAL. You should be a project admin (at least your outlook.com address is) so you should be able to do anything.

[2019-10-24 15:27] onovotny commented on #22
The cert has been requested from DigiCert. Might take a few days.

[2019-10-29 16:04] onovotny commented on #22
Closing as completed. Instructions have been communicated offline.

[2019-10-29 16:04] #22 closed

[2019-10-29 20:50] SteveSyfuhs opened #23 "Kerberos.NET"
## 1.   General Information

**Project Name:** Kerberos.NET

**License:** MIT

**Contributor (Company, Organization or individual name(s)):** Steve Syfuhs

**Existing OSS Project? (Yes/No):** https://github.com/SteveSyfuhs/Kerberos.NET

**Source Code URL:** https://github.com/SteveSyfuhs/Kerberos.NET

**Project Homepage URL (if different):**

**Project Transfer Signatories:** Steve Syfuhs steve@sy

[2019-10-29 21:07] onovotny commented on #3
Just putting it out there that Visual Studio Community Edition's license covers OSS use. I know that's not what you're looking for :)

[2019-11-06 18:02] jogibear9988 commented on #11
@jongalloway the on https://github.com/dotnet/foundation/blob/master/guidance/new-projects.md is still pointing to the wrong page. maybe someone could fix this?

[2019-11-07 13:15] tomasherceg opened #24 "Project Support Request: DotVVM - Code Signing Certificate and Service"
- **Project Name:** DotVVM
- **Due by:** N/A
- **Description:** We'd like to start signing our NuGet packages.

[2019-11-07 13:17] joelhulen opened #25 "Project Support Request: Polly - Code Signing Certificate and Service"
Project Name: Polly
Due by: N/A
Description: The Polly project would like to start signing our NuGet release packages. @onovotny has given me the information I need to complete the process once we have a cert. He asked me to create this issue here for tracking and to kick off the process.

Please set the certificate subject to: **Polly (.NET Foundation)**

[2019-11-07 13:32] onovotny commented on #24
@ChrisSfanos can you please register a d/b/a for DotVVM?

[2019-11-07 13:32] onovotny commented on #25
@ChrisSfanos can you please register a d/b/a for Polly?

[2019-11-07 19:23] ChrisSfanos commented on #25
Submitted - request ID: 0-011-055-433

[2019-11-07 19:23] ChrisSfanos commented on #24
Request submitted - Request ID: 0-011-055-433

[2019-11-07 19:27] onovotny commented on #25
@joelhulen what email address should we use for sharing a LastPass folder? Do you have a lastpass account already? Feel free to send it to me offline.

[2019-11-07 19:27] onovotny commented on #24
@tomasherceg what email address should we use for sharing a LastPass folder? Do you have a lastpass account already? Feel free to send it to me offline.

[2019-11-07 20:18] joelhulen commented on #25
Answered LastPass question offline.

[2019-11-08 14:02] onovotny commented on #24
@tomasherceg

Certificate requested from CA and client configuration created and shared via LastPass.

Please treat both the username and passwords as secrets.

If you're using Azure Pipelines, I have a recommended template here that splits build from signing into separate stages to minimize secret exposure. I'm happy to help review your configuration as needed.

https://github.com/onovotny/CodeSi

[2019-11-08 14:02] onovotny commented on #25
@joelhulen

Certificate requested from CA and client configuration created and shared via LastPass.

Please treat both the username and passwords as secrets.

If you're using Azure Pipelines, I have a recommended template here that splits build from signing into separate stages to minimize secret exposure. I'm happy to help review your configuration as needed.

https://github.com/onovotny/CodeSign

[2019-11-08 23:29] onovotny commented on #24
Closing as completed. The certificate has been issued and setup in the signing service. Please reach out with any questions getting your pipeline configured.

[2019-11-08 23:29] #24 closed

[2019-11-08 23:29] onovotny commented on #25
Closing as completed. The certificate has been issued and setup in the signing service. Please reach out with any questions getting your pipeline configured.

[2019-11-08 23:29] #25 closed

[2019-11-12 16:13] SteveSyfuhs commented on #23
Ping 🙂

[2019-11-14 23:59] ENikS opened #26 "Unity Container"
## 1.   General Information

**Project Name:** Unity Container

**License:** Apache 2.0

**Contributor (Company, Organization or individual name(s)):** ENikS

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/unitycontainer

**Project Homepage URL (if different):**

**Project Transfer Signatories:** Evgueni Sadovoi esadovoi@eniks.com

## 2.   Description
 The Unity C

[2019-11-15 13:08] onovotny commented on #26
Hi @ENikS, thanks for your application. Can you please complete the remaining sections (all are required), and then we can take it to the advisory council and board? Happy to answer questions/clarify things as needed.

[2019-11-15 15:59] JeremySkinner opened #27 "FluentValidation"
## 1.   General Information

**Project Name:** FluentValidation

**License:** Apache2

**Contributor (Company, Organization or individual name(s)):** Jeremy Skinner

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/jeremyskinner/fluentvalidation

**Project Homepage URL (if different):** https://fluentvalidation.net

**Project Transfer Signatories:** Jeremy Skinner j

[2019-11-15 17:41] pkgw commented on #2
@jongalloway @onovotny Ping? It's been a while.

Besides the main project domain, one of our core contributors has owned the related domains `openwwt.{org,com}` for a while and would like them to be taken off his hands.

[2019-11-15 21:18] ENikS commented on #26
@onovotny
I need some help with PR part.

[2019-11-15 22:56] jogibear9988 commented on #10
@jongalloway is there any document describes what the requires between the differnet steps are? when does a project get from "New Project Application" to "Reviewing"?

[2019-11-18 20:40] AArnott opened #28 "Nerdbank.GitVersioning"
## 1.   General Information

**Project Name:** Nerdbank.GitVersioning

**License:** MIT

**Contributor (Company, Organization or individual name(s)):** Andrew Arnott

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/AArnott/Nerdbank.GitVersioning/

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and email address required

[2019-11-18 20:41] AArnott commented on #28
@ap0llo as a contributor of the `nbgv prepare-release` command (making yourself the largest contributor besides myself to this project), can you assert your approval for NB.GV's inclusion in the .NET Foundation?

[2019-11-18 20:51] ap0llo commented on #28
Yes, of course. I approve. 👍

[2019-11-20 11:55] glennawatson opened #29 "Project Support Request: DevOps workers limits being hit"
Azure DevOps agents pools are having some wait times before starting their jobs at the moment.

![image](https://user-images.githubusercontent.com/5834289/69236942-b0844c80-0be8-11ea-8098-3961efadb812.png)

This issue is shared by any projects that are using the common Azure DevOps shared amongst .NET Foundation projects.

This is mostly affecting the VS2017 work pool.

[2019-11-20 15:26] onovotny commented on #29
Have you seen this consistently? There may be some fluctuation with the pool itself. There still aren't great ways of seeing total average queue times, but looking at when agents were active, it looks like the top-most haven't been hit in a while:

![image](https://user-images.githubusercontent.com/1427284/69251966-3ddf8680-0b80-11ea-85fe-14f97fd2d487.png)

[2019-11-20 15:45] glennawatson commented on #29
I tend to use this screen: https://dev.azure.com/dotnet/ReactiveUI/_settings/agentqueues?queueId=188&view=jobs

I look at the Wait Queue time. I am seeing consistent times when the wait queue time goes up throughout the day, then it has some idle time overnight.

[2019-11-20 15:55] onovotny commented on #29
I think we should keep an eye on it for now and I can raise it with the Pipelines team as well. For the most part, I see quick pickup by the agents. I don't deep queues on the higher agents, so it's possible there was an underlying hiccup.

[2019-11-20 16:57] glennawatson commented on #29
Sounds good. I will keep an eye on it for the next week and will either
close/comment back here.

On Thu, 21 Nov 2019 at 02:55, Oren Novotny <notifications@github.com> wrote:

[2019-11-20 17:11] glennawatson commented on #29
The issue is happening at the moment with the wait time increasing on the devops, I am getting this error message at the moment `There are no agents that satisfy the job’s demands
There is a problem with deploy job 'Agent phase'. No agent pool was found with ID 34.`

[2019-11-20 17:13] glennawatson commented on #29
[code]

[2019-11-20 17:27] jongalloway commented on #2
@ChrisSfanos We'd like to transfer worldwidetelescope.org from Microsoft domains to .NET Foundation account (using our NameCheap account). Can you help us get the domain transfer unlocked from Microsoft domains side?

[2019-11-22 15:43] onovotny commented on #28
I don't think this was intended on being closed.

[2019-11-22 17:26] pkgw commented on #2
@ChrisSfanos Would you also have access to our current DNS configuration? I don't actually have this, and would like to make sure that we can get the information set up in Azure before doing any transfers to minimize the chances of wonky downtime.

[2019-11-22 19:02] ChrisSfanos commented on #2
Not sure yet - I need some info from @jongalloway so our DNS team can take a look.  I'll ping him again on the thread

[2019-11-22 22:44] jongalloway commented on #2
@ChrisSfanos I've just replied on the e-mail thread with Microsoft Domains, including history and supporting documentation.

[2019-11-25 16:01] Switch1983 opened #30 "Catalyst network technology stack"
## 1.   General Information

**Project Name: Catalyst**

**License: Contribution**

**Contributor (Company, Organization or individual name(s)): Atlas City Global Ltd**

**Existing OSS Project? (Yes/No): Yes**

**Source Code URL: https://github.com/catalyst-network**

**Project Homepage URL (if different): https://catalystnet.org/**

**Project Transfer Signatories:**
Full legal name and email addr

[2019-11-26 00:43] onovotny opened #31 "Test workflow"
## 1.   General Information

**Project Name:**

**License:**

**Contributor (Company, Organization or individual name(s)):**

**Existing OSS Project? (Yes/No):**

**Source Code URL:**

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and email address required of the individual(s) with the authority to transfer or contribute the project to the .NET Founda

[2019-11-26 00:43] onovotny opened #32 "Test issue"
### Please fill in the information below:
- **Project Name:**
- **Due by:**
- **Description:**

[2019-11-26 00:47] #31 closed

[2019-11-26 00:51] #32 closed

[2019-12-02 13:19] nshCore commented on #30
+1

[2019-12-03 03:00] Asmatmaker opened #33 "Foundation"
## 1.   General Information

**Project Name:**

**License:**

**Contributor (Company, Organization or individual name(s)):**

**Existing OSS Project? (Yes/No):**

**Source Code URL:**

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and email address required of the individual(s) with the authority to transfer or contribute the project to the .NET Founda

[2019-12-05 15:38] pkgw commented on #2
Hi — checking in on this after the Thanksgiving holiday. Anyone need anything from me? Thanks.

[2019-12-09 21:20] pkgw commented on #2
For context, we're looking to make a major release on January 6, and in advance of that we want to switch our web presence to start using Azure Application Gateway, which will require DNS changes that I can't currently make. Is that timescale going to be achievable?

[2019-12-09 23:35] jongalloway commented on #2
@pkgw We got the transfer unlocked from the Microsoft side, so we should be able to wrap up the transfer this week. I'll check in with @onovotny and we'll plan out the DNS and registrar changes.

[2019-12-13 13:27] pkgw commented on #2
Fun update: in the course of my digging I found another domain for the project: `wwtelescope.org` ... which is associated with MarkMonitor, but its DNS is coming from `azure-dns.org`. Then `wwtelescope.com` seems to be owned by Microsoft and also handled by azure-dns. Fun times!

The priority is definitely `worldwidetelescope.org`, but ideally all of these domains would be grouped into one holding

[2019-12-13 14:04] onovotny commented on #2
Do you have the full list of DNS entries that the domain has so we can set up DNS in the Foundation's azure subscription?

The transfer is in progress though it can take a little while. Transferring it shouldn't change the DNS servers it's currently pointing to.

[2019-12-13 15:03] pkgw commented on #2
@onovotny I actually haven't been able to figure out any way to get my hand on the full set of DNS records, which has been one of the frustrating things. Would it be helpful for me to put together a list of the things that I *do* know about?

[2019-12-13 15:07] onovotny commented on #2
Sure, any bit helps.

[2019-12-13 15:24] pkgw commented on #2
Here's the info from all of the subdomains I can find: [wwt-dig.txt](https://github.com/dotnet-foundation/projects/files/3961439/wwt-dig.txt)

[2019-12-13 16:33] onovotny commented on #2
I created a dns zone in your azure subscription (WWT-DNS resource group) and put those entries into it. You should have full control over that resource. Once the transfer is complete, we can update the nameserver records to point to those new ones.

[2019-12-14 00:22] mconnew commented on #19
I've finally got a decent pipeline set up and packages being created on merge. What's the situation with signing the packages? I presume they should be signed by a certificate owned by the foundation?

[2019-12-14 00:35] onovotny commented on #19
Please create an issue (there's an issue template for it) requesting a Code Signing cert. It can take 1-2 weeks, depending on how fast the CA can process things.

Integrating into the pipeline can look something like this:

https://github.com/reactiveui/refit/blob/master/azure-pipelines.yml#L97-L141

[2019-12-16 18:34] pkgw opened #34 "Project Support Request: AAS WorldWide Telescope — Azure Active Directory admin"
### Please fill in the information below:

- **Project Name:** AAS WorldWide Telescope
- **Due by:** End of calendar year would be ideal (before next major release)
- **Description:** Our project's Azure subscription is associated with an Azure Active Directory instance, `wwtadmindotnetfoundation.onmicrosoft.com`. We can't figure out if anyone still affiliated with the project actually has adminis

[2019-12-16 19:42] jongalloway commented on #34
@pkgw I'd start by opening a ticket with Azure support. Unless I'm reading this wrong, this doesn't seem like something .NET Foundation can really help with, since this is on your Azure account.

[2019-12-16 20:20] pkgw commented on #34
@jongalloway Thanks, I'll try that too. I believe the AAD instance is somehow tied to the Foundation since it is called `wwtadmindotnetfoundation` after all (there exists an email address `wwtadmin@dotnetfoundation.net`) but I am very unclear on how all of these pieces fit together (obviously).

[2019-12-17 08:00] jongalloway commented on #34
@pkgw I verified we don't have that AAD instance in any of our subscriptions. Maybe the foundation helped get an Azure Sponsorship when this was set up? With anything Azure, my first step is to file a support ticket. We don't have any secret handshake Azure support for .NET Foundation.

[2019-12-17 08:04] jongalloway commented on #2
The transfer is complete. @onovotny - you want to handle the DNS switch? If it's just updating nameservers, I'm happy to do it.

[2019-12-17 08:05] jongalloway commented on #29
@glennawatson Can we close this? It looks like wait times are averaging 1-2 seconds lately, with a high of 4 seconds.

[2019-12-17 10:25] glennawatson commented on #29
Yeah haven't seen the issue since.

[2019-12-17 10:25] #29 closed

[2019-12-17 12:48] onovotny commented on #2
Should just be updating the DNS to point to the new one. @pkgw, can you confirm that you can see/have access to the new DNS Zone in your Azure subscription so you're able to update it directly if desired?

[2019-12-17 13:31] pkgw commented on #2
@onovotny Yes, I can see and update the DNS, thanks!

There are a few more domains I mentioned upthread that I'd also like to work on gathering under the Foundation's account. Should I break those into separate issues?

[2019-12-17 14:34] onovotny commented on #2
It would probably be easiest to track each domain individually with a separate issue.

[2019-12-17 15:50] pkgw commented on #34
OK, if there's nothing in any of the Foundation subscriptions, then I think the issue here can be closed.

[2019-12-17 15:50] #34 closed

[2019-12-17 20:30] mconnew opened #35 "Code Signing Certificate Request: CoreWCF"
### Please fill in the information below

- **Project Name:** CoreWCF
- **LastPass Email (or send offline):** sending offline

Certificate onboarding checklist:

- [x] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [x] Provide credentials in shared folder in LastPass
- [x] Request certificate from DigiCert
- [x] Recieve

[2019-12-18 08:50] filmor opened #36 "Python.NET"
## 1.   General Information

**Project Name:**
Python.NET

**License:**
MIT

**Contributor (Company, Organization or individual name(s)):**
Recently:
- filmor
- lostmsu
- amos402
- s4v4g3
- slide
- benoithudson
- koubaa
- mjmvisser

In general, we have many drive-by contributors that stick around for a while.

**Existing OSS Project? (Yes/No):**
Yes

**Source Code URL:**
https://github.com/pythonn

[2019-12-19 00:00] onovotny commented on #35
@ChrisSfanos can you please register a trade name for `CoreWCF`?

[2019-12-20 21:06] pkgw commented on #2
It looks like things have fully switched over! Thank you for your help with all this.

[2019-12-20 21:06] #2 closed

[2019-12-31 19:23] jogibear9988 commented on #10
@jongalloway any news to this?

[2020-01-03 15:01] pkgw opened #37 "Project Support Request: AAS WorldWide Telescope — domain name transfer"
### Please fill in the information below:
- **Project Name:** AAS WorldWide Telescope
- **Due by:** 1/31/2020
- **Description:** Transfer `openwwt.{org,com}` to project control

After the successful handling of #2, the next domains that I'd like to bring under the project umbrella are `openwwt.org` and `openwwt.com`, registered by project founder @astrojonathan. I presume Jonathan needs to kick th

[2020-01-06 16:29] clairernovotny opened #38 "CoreWF"
## 1.   General Information

**Project Name:**
CoreWF
**License:**
MIT
**Contributor (Company, Organization or individual name(s)):**
UiPath
**Existing OSS Project? (Yes/No):**
Yes
**Source Code URL:**
https://github.com/UiPath/corewf
**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and email address required of the individual(s) with the authority to tra

[2020-01-06 20:43] ChrisSfanos commented on #35
I just completed the registration process for the Trade Name

[2020-01-07 19:27] onovotny commented on #35
Certificate has been requested from DigiCert

[2020-01-07 22:05] astrojonathan opened #39 "Code Signing Certificate Request: AAS WorldWide Telescope"
### Please fill in the information below

- AAS WorldWide Telescope
- jfay@fayhome.com

Certificate onboarding checklist:

- [ ] Register trade name @ChrisSfanos
- [ ] Create organization with DigiCert
- [ ] Create configuration in Code Signing Service
- [ ] Provide credentials in shared folder in LastPass
- [ ] Request certificate from DigiCert
- [ ] Recieved certificate and finalize sign service

[2020-01-07 23:37] JimBobSquarePants opened #40 "Project Support Request: ImageSharp"
### Please fill in the information below:
- **Project Name:** ImageSharp
- **Due By:**
- **Description:**
  - Set up CI/CD on Azure DevOps
  - Code Signing Certificate and Service

I'm not 100% sure on what the process is for either.

I know I can create multiple pipelines under the one project so that would cover building ImageSharp and ImageSharp.Drawing etc. I don't know how code signing works

[2020-01-08 00:07] onovotny commented on #40
Thanks!

Can you please fill out a separate issue to track the code signing request? https://github.com/dotnet-foundation/projects/issues

The certificate would typically be the project name ImageSharp unless there's a good reason for something else?

[2020-01-08 00:38] JimBobSquarePants commented on #40
Of course, will do thanks!

This is where things are muddy. There's multiple open source libraries in our org that ImageSharp uses.

[2020-01-08 00:46] JimBobSquarePants opened #41 "Code Signing Certificate Request: ImageSharp"
### Please fill in the information below
- **Project Name:** ImageSharp
- **LastPass Email (or send offline):** Will send offline.

Certificate onboarding checklist:

- [x] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [ ] Provide credentials in shared folder in LastPass
- [ ] Request certificate from DigiCert
- [ ] Re

[2020-01-08 03:22] glennawatson commented on #41
On the ReactiveUI project we have a similar situation where we have multiple projects with differing names but the organisation name is ReactiveUI so our signing certificate is based on the organisation name. Given your GitHub organisation name is `SixLabors` would imagine be the same situation?

[2020-01-08 03:43] JimBobSquarePants commented on #41
Perfect! I was hopping there was precedence.

[2020-01-08 19:08] sbwalker commented on #8
Is there any update on the status of this application?

[2020-01-09 17:27] onovotny commented on #41
Should this be "SixLabors" or "Six Labors"? What is the entity?

[2020-01-09 17:34] onovotny commented on #37
The domains would need to be unlocked for transfer and the unlock code sent to me (oren at dotnetfoundation dot org). I can then initiate the transfer to our registrar.

Where is the DNS currently served from? Do you need us to create a new DNS Zone or are you able to handle that yourselves in the azure subscription similar to how the other one is done?

[2020-01-09 21:31] ChrisSfanos commented on #41
Registered the TradeName is ImageSharp (I took all the above as dealing only with the DigiCert stuff

[2020-01-09 21:31] ChrisSfanos commented on #39
Trade name registered

[2020-01-09 21:32] onovotny commented on #41
@ChrisSfanos We need the trade name to be "Six Labors" as well, since the trade name has to match what we enter into DigiCert.

[2020-01-09 21:35] ChrisSfanos commented on #41
Ok, no problem - I added Six Labors as a Trade Name

[2020-01-09 22:45] JimBobSquarePants commented on #41
Sorry for the confusion. It should be Six Labors

[2020-01-10 17:47] pkgw commented on #37
Looks like the DNS is coming from EasyDNS at the moment. We could handle the DNS in our Azure subscription ourselves, I think. AFAIK these domains just act as aliases for worldwidetelescope.org.

[2020-01-10 20:06] AArnott commented on #28
@jongalloway Now that this is accepted, what is the next step?

[2020-01-10 22:22] astrojonathan commented on #37
Ok. I will get that and send it...

[2020-01-10 22:29] astrojonathan commented on #37
I send Oren the unlock codes for both domains.

[2020-01-10 22:37] onovotny commented on #37
I just initiated the transfer.

[2020-01-11 00:24] onovotny commented on #37
Looks like there's a hiccup as the domains are still marked as locked. They need to be unlocked with easyDNS and then we can try again.

[2020-01-11 01:49] glennawatson opened #42 "Project Support Request: ReactiveUI LastPass"
### Please fill in the information below:
- **Project Name:** ReactiveUI
- **Due by:** 31st January 2020
- **Description:** Given the leadership change 18 months ago of ReactiveUI it'd be nice if @glennawatson and @RLittlesII can get access to the organisation last pass.

[2020-01-14 16:50] mitchelsellers opened #43 "Project Support Request: DNN Platform - NuGet Signing"
- **Project Name:** DNN Platform
- **Due by:** End of January
- **Description:** We would like to setup signing for our NuGet packages and to add dotnetfoundation as a coowner to all NuGets.

[2020-01-14 19:13] onovotny commented on #42
I need your email addresses that you use for LastPass and I can add you.

[2020-01-15 01:21] glennawatson commented on #42
glenn@glennwatson.net is the email I would like to use.

[2020-01-15 01:32] RLittlesII commented on #42
rodney.littles@gmail.com

[2020-01-15 01:49] onovotny commented on #42
I've just invited you two to the shared folder. @glennawatson, looks like there's an extra step you need to do.

![image](https://user-images.githubusercontent.com/1427284/72397878-2a2f4700-370f-11ea-9c36-ac2343aaa7e3.png)

Once you've confirmed this works, we can close this issue.

[2020-01-15 01:57] glennawatson commented on #42
I've clicked the "Generate Sharing Keys" link, I think you may have to reshare though.

[2020-01-15 02:05] glennawatson commented on #42
Confirm that both @RLittlesII and myself see the shared folder now. Thanks.

I am closing the issue.

[2020-01-15 02:05] #42 closed

[2020-01-15 02:39] onovotny commented on #39
Org created in DigiCert.

[2020-01-15 03:02] onovotny commented on #35
Sorry for the delay, DigiCert had to revalidate a few additional things. We have the certificate configured in the service, just need to know what email address to add to the LastPass shared folder to share the credentials.

[2020-01-15 03:22] onovotny commented on #40
I've created the project in our DevOps repo here: https://dev.azure.com/dotnet/SixLabors and invited you in as a project admin. Please let me know if there's anything else you need.

[2020-01-15 03:25] onovotny commented on #41
@JimBobSquarePants What email address should I invite to the shared lastpass with the credentials?

[2020-01-15 03:26] onovotny commented on #39
@astrojonathan What email address should I invite to the shared lastpass with the credentials?

[2020-01-15 05:00] astrojonathan commented on #39
I filled it out in the form..

[2020-01-15 05:01] astrojonathan commented on #39
Jfay@fayhome.com

[2020-01-16 08:19] JimBobSquarePants commented on #40
Hooray! Thanks very much!

[2020-01-16 08:33] JimBobSquarePants commented on #40
Actually.... Was there a timeout on this? I'm getting a 401 after authorizing the NET Foundation app.

[2020-01-16 12:53] onovotny commented on #40
No... but DevOps sometimes has trouble with B2B invites.

If you go here https://aex.dev.azure.com/me, and sign in, there's a drop down on the left side under your profile information. If you switch it to `.NET Foundation`, it should prompt to setup a new DevOps profile in that tenant. That's likely the issue.

[2020-01-16 13:54] JimBobSquarePants commented on #40
That did the trick. Thanks!

[2020-01-16 13:54] #40 closed

[2020-01-16 14:06] JimBobSquarePants commented on #41
@onovotny I'll send a message offline

[2020-01-16 21:34] jongalloway commented on #28
Onboarding agreement sent via DocuSign

[2020-01-20 14:22] BLUEBAYcreater opened #44 "https://github.com/BLUEBAYcreater/Visual-Studio-2019--Database-Management-System-Project-c-and-mysql/blob/master/README.md"
## 1.   General Information

**Project Name:** Bluebay Coffee Database

**License:**

**Contributor (Company, Organization or individual name(s)):** Yeshwanth

**Existing OSS Project? (Yes/No):**

**Source Code URL:**

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and email address required of the individual(s) with the authority to transfer or contrib

[2020-01-21 18:10] mconnew commented on #35
@onovotny, I sent the email address offline. Do I need to send it again?

[2020-01-21 19:26] AArnott commented on #28
Signed.

[2020-01-21 22:07] Karl15 opened #45 "C# AST for hardware design"
This project is to reduce the tedium and difficulty of using the current for hardware design tool chain. The performance of the design is comparable if not equal to today's hardware accelerators.

The MS Project Catapult Team witnessed the problem,  but the MS C# Compiler is the base for a solution.

Expressions use C# syntax.  Values are kept in dual port arrays so that the two operands for binar

[2020-01-22 02:11] onovotny commented on #35
My apologies, I can't seem to locate it, what address did you send it to?

[2020-01-22 04:58] jogibear9988 opened #46 "Project Application's via This Repository -> nothing happens"
Since last year, Project Applications have to be done via this board.

I liked when this change has come, so I thought it would be a more open Process.

But since then, all I see was, that some Project's did, but nothing more happens to the most. They get a State "New Project Application", ant nothing more happens.

And also the one's wich were changed to "Accepted" like OmniSharp, Nuke,... there

[2020-01-22 05:05] glennawatson commented on #46
I'm seeing activity in the Project Board

[code]

[2020-01-22 12:51] JeremySkinner commented on #27
Just wondering if there was any news on this? :smiley:

[2020-01-22 13:21] jogibear9988 commented on #27
@JeremySkinner
see my ticket here: https://github.com/dotnet-foundation/projects/issues/46

[2020-01-22 13:31] onovotny commented on #27
First, sorry for the delays. Things got caught up with the winter holidays and then the Executive Director transition. We're working to clear the various backlogs as fast as we can.

@ChrisSfanos is taking lead on processing the accepted projects and we should get through them shortly.

Thank you for your patience.

[2020-01-22 13:31] onovotny commented on #46
First, sorry for the delays. Things got caught up with the winter holidays and then the Executive Director transition. We're working to clear the various backlogs as fast as we can.

@ChrisSfanos is taking lead on processing the accepted projects and we should get through them shortly.

Thank you for your patience.

[2020-01-22 13:32] JeremySkinner commented on #27
Thanks @onovotny that's great to hear. Hope things are going well for you in the new role

[2020-01-22 13:34] onovotny commented on #39
Just an update here, we've been blocked on a DigiCert bug on their certificate request form. We've been working on getting this resolved ASAP.

[2020-01-22 13:34] onovotny commented on #41
Just an update here, we've been blocked on a DigiCert bug on their certificate request form. We've been working on getting this resolved ASAP.

[2020-01-22 13:36] onovotny commented on #44
Hi,

There is not enough information in this application to proceed. Please complete the form as appropriate.

[2020-01-22 13:36] #44 closed

[2020-01-22 13:37] onovotny commented on #45
Hi,

I'm not sure what the ask is here, is there an existing project that you're looking to bring into the Foundation, a request for a new project to pursue these goals, or a feature request for the runtime?

[2020-01-22 13:38] onovotny commented on #37
Gentle ping on this, we're blocked on the transfer until the domains are unlocked from easyDNS.

[2020-01-22 14:05] JimBobSquarePants commented on #41
No worries, thanks for the update!

[2020-01-22 14:35] astrojonathan commented on #37
Try now

[2020-01-22 14:36] astrojonathan commented on #37
They love making it hard to leave..

[2020-01-22 15:44] Karl15 commented on #45
I am too old to manage/support the project myself.  I will make it
available as open source if there is interest.
The so called "Hardware Design Languages"  Verilog and VHDL do not focus on
logic design and/or debug and HLS is still struggling to generate efficient
code.

C# and .Net framework can can be used to do a better job.  Just that I am
not sure how to proceed.  Thanks, Karl

On Wed, Jan 2

[2020-01-22 18:25] onovotny commented on #45
Can you please fill out the details in the application template and then the board will evaluate it.

[2020-01-22 19:35] mconnew commented on #35
I sent it to project-support@dotnetfoundation.org on Dec 17th like the template said to do 😄

[2020-01-23 05:24] BLUEBAYcreater commented on #44
Hi there is a problem in code.
Small problem.
Delete the issue, let me re-modify and send to you.
Thank you bye!

[2020-01-23 14:06] jogibear9988 commented on #46
Thank you for the Information.
Hopefully our project could join #10

[2020-01-23 14:06] #46 closed

[2020-01-23 21:18] ChrisSfanos commented on #27
DocuSign with the agreement is out for signatures.  Since it's my first go at it, don't be shocked if we have to have a 2nd pass at it :-)

[2020-01-23 21:58] JeremySkinner commented on #27
Thanks @ChrisSfanos.

Just one thing I wanted to query - in the "Project Trademarks" section of the document "Disclaimed" is pre-ticked. Is that definitely correct? Just wanted to double check how Disclaimed/Licensed relates to the project transfer types of Assignment/Contribution, and make sure we're definitely going with the right one (Contribution).

(Very possible i'm just misunderstanding the

[2020-01-23 22:03] ChrisSfanos commented on #27
I checked a few previous ones and that was the option selected, so I went with it - @onovotny  should review to confirm this is correct for this entry

[2020-01-25 17:37] oskardudycz opened #47 "Marten"
## 1.   General Information

**Project Name:**
Marten

**License:**
MIT

**Contributor (Company, Organization or individual name(s)):**
Jeremy D. Miller, Babu Annamalai, Oskar Dudycz, Joona-Pekka Kokko

**Existing OSS Project? (Yes/No):**
Yes

**Source Code URL:**
https://github.com/JasperFx/marten

**Project Homepage URL (if different):**
https://martendb.io

**Project Transfer Signatories:**
_Fu

[2020-01-25 17:48] onovotny commented on #47
One question, so far, for you to consider. Are do you want to just have Marten join the .NET Foundation, or the whole JasperFx project?

It may simplify things to have Jasper as a whole join, especially since they're related and I share a common set of contributors/maintainers (I assume). This would be similar to ReactiveUI, which also has a few other projects like Splat, Refit, Punchclock, etc.

[2020-01-25 17:54] oskardudycz commented on #47
@onovotny as for now we're applying only with Marten.

For the rest @jeremydmiller would need to answer. For sure they're related but they might be used by a bit different set of persons. Contributors might have some shared subset, but the "common denominator" is Jeremy. Me, @mysticmind and @jokokko are maintainers only in Marten.

[2020-01-25 18:08] mysticmind commented on #47
If multiple projects under JasperFx is going to cause issues with licensing/transfer of project to .NET Foundation with varying contributors/maintainers, we may have to look at moving the Marten repo under a separate project.

[2020-01-25 19:32] onovotny commented on #47
It's not a matter of which org something is under, more like trying to cast the widest net around the logical notion of a "Project". It's completely up to you and @jeremydmiller

[2020-01-25 19:56] jeremydmiller commented on #47
@mysticmind @oskardudycz @onovotny I don't know what I think about that offhand. Marten is by far and away the most active and best supported of all the other things under the JasperFx umbrella. I'm not opposed to moving the rest of JasperFx, but maybe Marten needs to just be its own thing.

Can we think on this one just a bit more?

[2020-01-25 19:59] onovotny commented on #47
Yes, you can definitely think about it as long as you need. We need the project committee to evaluate things and then the board to approve. The board meets the third thursday of every month, so the next meeting is Feb 20.

[2020-01-27 15:58] onovotny commented on #43
/cc @ChrisSfanos

[2020-01-27 16:02] onovotny commented on #41
@JimBobSquarePants The cert request was just completed and things are ready -- I didn't see your email, what address did you send it to?

[2020-01-27 16:03] onovotny commented on #39
Certificate requested from CA and client configuration created and shared via LastPass.

Please treat both the username and passwords as secrets.

If you're using Azure Pipelines, I have a recommended template here that splits build from signing into separate stages to minimize secret exposure. I'm happy to help review your configuration as needed.

https://github.com/onovotny/CodeSigningDemo/blob

[2020-01-27 16:05] onovotny commented on #39
Do you publish any packages to NuGet.org?

[2020-01-27 16:14] astrojonathan commented on #39
No. We don't publish anything to NuGet at this time.

[2020-01-27 16:22] onovotny commented on #39
An example that is more application-oriented is over here:

https://github.com/NuGetPackageExplorer/NuGetPackageExplorer

You can see the whitelist it uses for what gets signed here: https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/master/Build/filelist.txt

And the way it gets invoked here: https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/master/azure-pipelines.y

[2020-01-27 19:25] ChrisSfanos commented on #46
Hi everyone
I see this was Closed - does this mean I should NOT process the on-boarding application?  Or just the issue about timing was 'resolved'?  I'm happy to start processing this ASAP

[2020-01-27 19:44] onovotny commented on #46
@ChrisSfanos Ling2db has an active issue for onboarding. We need to complete the review there and present it to the board at the next meeting for approval.

[2020-01-27 23:36] JimBobSquarePants commented on #41
That's great news!

I added the email address to the project leader chat in the .NET Foundation Slack workspace

[2020-01-28 09:14] JeremySkinner commented on #27
Thanks for clarifying - I've signed the document

[2020-01-28 17:12] ChrisSfanos commented on #20
@bruno-garcia  - I need an email address please for @joaopgrassi to include the signing (since he has a large # of contributions) - you can email me at chris.sfanos @ dotnetfoundation.org is you don't want to include it here

[2020-01-28 17:24] ChrisSfanos commented on #27
Document has been signed - closing this issue

Closes #27

[2020-01-28 17:27] JeremySkinner commented on #27
What’s the next step?

[2020-01-28 17:28] ChrisSfanos commented on #27
I'll let @onovotny chime in on that - my understanding was this issue just tracked the DocuSign work.  If we want to use it track additional steps, that's great and we can do that.

[2020-01-28 17:46] onovotny commented on #27
We should have it track the complete steps in the process.

Thanks!

[2020-01-28 19:11] ChrisSfanos commented on #23
CLA out for signing

[2020-01-28 19:11] ChrisSfanos commented on #26
CLA out for signing

[2020-01-28 19:56] ChrisSfanos commented on #6
CLA is complete (in November per Jon)

[2020-01-28 20:00] ChrisSfanos commented on #5
CLA is out for signing

[2020-01-28 20:31] ChrisSfanos commented on #20
CLA is out for signatures

[2020-01-28 20:47] jogibear9988 commented on #10
@ChrisSfanos can you also tell if we need to do something...

[2020-01-30 07:22] mzorec commented on #9
@jongalloway @onovotny Can i ask what's the status on this? There has been no response for more than 6 months.

[2020-01-30 07:25] jogibear9988 commented on #46
@ChrisSfanos you should continue. I only closed this issue that we dont get any response

[2020-01-30 14:15] ChrisSfanos commented on #10
At the moment I don't think so - I'm following up with @onovotny to see what steps are next - thanks!

[2020-02-01 12:42] sfmskywalker opened #48 "Elsa Workflows"
## 1.   General Information

**Project Name:**

Elsa Workflows

**License:**

BSD-3-Clause

**Contributor (Company, Organization or individual name(s)):**

- [Antoine Griffard](https://github.com/agriffard)
- [James Doran](https://github.com/jamesdoran)
- [Jonathan Ruckert](https://github.com/jruckert)
- [Martin Amm](https://github.com/IntranetFactory)
- [Nate Hughey](https://github.com/nhughey-ev

[2020-02-03 05:21] RussKie opened #49 "Git Extensions project"
## 1.   General Information

**Project Name:** _Git Extensions_

**License:** _original code is licensed under GPLv3, however since Jan '19 we have only been accepting contributions under the MIT licence.
https://github.com/gitextensions/gitextensions/blob/master/contributors.txt_
_We are currently liaising with the .NET Foundation counsel in exploration of legal aspects of relicensing the whole p

[2020-02-03 16:31] Switch1983 commented on #30
Collecting PR's from more external contributors, progressing with the Future of Blockchain hacakathon (https://www.futureofblockchain.co.uk/) and preparing to launch a fully functional new test net with supporting tools and SDK's.

Would be helpful to progress this application. Some use cases can be found at the Atlas City website https://www.atlascity.io/

[2020-02-03 19:13] ChrisSfanos commented on #48
Hi folks - I need the email addresses for @jamesdoran and @petedavis so I can add them as signers to the CLA paperwork.  If you don't want to post them in the issue, you can email them to me at: chris.sfanos at dotnetfoundation.org

[2020-02-03 20:03] jamesdoran commented on #48
Hi @ChrisSfanos, I’ve emailed over mine and @petedavis emails as requested.

[2020-02-03 20:45] ChrisSfanos commented on #48
Thanks @JamesDoran!

The CLA document is now out for signing

[2020-02-04 01:23] jamesdoran commented on #48
No worries, I’ve signed

On Tue, 4 Feb 2020 at 7:15 am, ChrisSfanos <notifications@github.com> wrote:

[2020-02-04 15:23] onovotny commented on #30
I met with the Atlas City team behind this project in London last week. I recommend 👍

[2020-02-04 15:25] onovotny commented on #49
We have a thread with the lawyers on handling the GPL to MIT license transition.

[2020-02-06 17:42] rabbit2190 opened #50 "Fwupdc8"

[2020-02-12 19:34] tidyui opened #51 "Piranha CMS"
## 1.   General Information

**Project Name:**
Piranha CMS

**License:**
MIT

**Contributor (Company, Organization or individual name(s)):**
Håkan Edling, Filip Jansson

**Existing OSS Project? (Yes/No):**
Yes

**Source Code URL:**
https://github.com/PiranhaCMS/piranha.core/graphs/contributors

**Project Homepage URL (if different):**
http://piranhacms.org

**Project Transfer Signatories:**
*Full

[2020-02-12 20:32] taylorb-microsoft opened #52 "Move Docker.DotNet to .Net Foundation"
## 1.   General Information

**Project Name:**  Docker.DotNet

**License:**  Apache V 2.0

**Contributor (Company, Organization or individual name(s)):**
- Owned by Microsoft (was transferred from a former Microsoft employee)
-  Primary Contributors: @jterry75 (Microsoft employee); @ahmetb (former Microsoft employee and original maintainer); @jstarks (Microsoft employee); @swernli (Microsoft emplo

[2020-02-12 20:45] pkgw commented on #37
@onovotny Did you get a chance to try again? Do the unlock codes have an expiration date or anything?

[2020-02-13 01:25] galvesribeiro commented on #52
Hello folks!

Here are my suggestions regarding the application:

**Email**: myfirstname @ outlook.com
**License**: If possible, after the migration, we should adopt MIT like most of the other projects under the `dotnet/` org.
**Project Homepage URL (if different)**: We will probably use GitHub pages to host the documentation and samples moving forward.

**Governance Model**:
Something around thos

[2020-02-13 21:26] ChrisSfanos commented on #23
CLA signoff is complete - kicked off CLA GitHub onboarding

[2020-02-13 21:26] ChrisSfanos commented on #20
CLA signoff is complete - kicked off CLA GitHub onboarding

[2020-02-13 21:26] ChrisSfanos commented on #27
CLA signoff is complete - kicked off CLA GitHub onboarding

[2020-02-18 15:12] Switch1983 commented on #30
Please let me know if I can be of further assistance with our application.

[2020-02-18 19:21] ChrisSfanos commented on #27
CLA onboarding is complete

[2020-02-18 19:22] ChrisSfanos commented on #20
CLA onboarding is complete

[2020-02-18 20:58] mitchelsellers opened #53 "Project Support Request: DNN Platform - Install SonarCloud"
Project; DNN Platform
Due By: ASAP

We are looking to implement Code Analysis using SonarCloud and need to have the[ SonarCloud extension](https://marketplace.visualstudio.com/items?itemName=SonarSource.sonarcloud) installed to Azure DevOps

[2020-02-18 21:16] onovotny commented on #53
Done.

[2020-02-18 21:16] #53 closed

[2020-02-19 17:34] jogibear9988 commented on #10
@ChrisSfanos any News?

[2020-02-19 23:52] ChrisSfanos commented on #10
From my view, this project needs to get approved by the board.  @onovotny - can you chime in as to when this project will be presented?

[2020-02-24 17:30] ENikS commented on #26
@ChrisSfanos  @onovotny

The CLA you sent requires transfer of trademark (Exhibit A). I would like to keep the ownership and just license it. Could you please change it to Licensed Marks (Exhibit B)?

[2020-02-24 19:51] ChrisSfanos commented on #26
I'll need @onovotny to sign off on that, and then I'll void the old document and resend

[2020-02-24 19:52] ENikS commented on #26
Thank you

[2020-02-24 19:55] onovotny commented on #26
I've reached out to our lawyer for input.

[2020-02-24 22:28] galvesribeiro commented on #52
Ping 🏓

[2020-02-24 22:36] onovotny commented on #39
Are you all set, can we close this out?

[2020-02-24 22:36] onovotny commented on #41
Are you all set, can we close this out?

[2020-02-24 22:37] #50 closed

[2020-02-25 13:37] JimBobSquarePants commented on #41
Was I supposed to see something in my LastPass account?

[2020-02-25 18:47] ChrisSfanos commented on #43
I filed the Trade Name (DNN Platform) today

[2020-02-25 19:13] mitchelsellers commented on #43
Awesome. Any timing expectations from here?

[2020-02-25 19:17] onovotny commented on #43
The d/b/a takes a day and the rest is up to DigiCert. Probably 1-2 weeks?

[2020-02-26 10:06] nshCore commented on #30
@onovotny @jongalloway Do you have an email I can reach out to you on regarding this application? Regards

[2020-02-26 12:46] onovotny commented on #30
firstname at dotnetfounation dot org is the best way.

The holdup has been waiting for the next board meeting. We meet monthly and there was a family emergency that delayed last week's meeting until tomorrow.

[2020-02-26 15:02] JeremySkinner commented on #27
Hi @ChrisSfanos & @onovotny just a quick question about copyright notices.

As we're going with Contribution rather than Assignment, I assume the copyright notices for the project will stay as "(c) Jeremy Skinner & contributors" rather than needing to be changed to "(c) .NET Foundation & contributors"? (Or does .NET Foundation become a copyright holder for Contribution too?)

Thanks!

[2020-02-26 15:13] onovotny commented on #27
I'll follow up with the lawyer and get back to you.

[2020-02-26 16:45] filmor commented on #36
Is this missing anything in particular?

[2020-02-26 22:44] nshCore commented on #30
@onovotny I remove support for this project being accepted to dotnet foundation. I will follow up in an email directly, but there are several legal challenges currently against Atlas City, Turtle Tree Limited, and Darren (@Switch1983 ) personally. The company have left an array of unpaid contractors and employees who have contributed to this project. @Switch1983 has also personally fell foul of al

[2020-02-27 22:18] grokys opened #55 "Avalonia"
## 1.   General Information

**Project Name:**

Avalonia

**License:**

MIT

**Contributor (Company, Organization or individual name(s)):**

We have many contributors but our top 5 are:

Steven Kirk (@grokys)
Nikita Tsukanov (@kekekeks)
Dan Walmsley (@danwalmsley)
Jeremy Koritzinsky (@jkoritzinsky)
Jumar Macato (@jmacato)

**Existing OSS Project? (Yes/No):**

Yes

**Source Code URL:**

https://git

[2020-02-28 09:39] IrisClasson commented on #9
Hi and sorry for the delay! The project is now under review and we should be able to give an answer soon. We'll keep you posted!

[2020-02-28 10:15] IrisClasson commented on #52
We are reviewing the project, thank you for the patience!

[2020-02-28 19:22] ChrisSfanos commented on #47
Hi everyone
I'll be working on the back-end to handle onboarding and post-onboarding tasks.

Onboarding:
1) Sign the CLA via DocuSign - this will go out shortly
2) CLA onboading in GitHub - I'll handle this once the CLA is signed off and processed

[2020-02-28 19:30] ChrisSfanos commented on #47
CLA is out for signing

[2020-02-28 19:35] ChrisSfanos commented on #38
Hi everyone
I'll be working on the backend to on-board/post-onboarding to bring the project to the .NET Foundation.  The on-boarding consists of:

1) CLA signing via DocuSign
2) CLA onboarding via GitHub

to complete #1, I need the email addresses of the following contributors:
@lbargaoanu
@dmetzgar
@marivs

If you don't want to post your email address here, please send it to me at chris.sfanos@do

[2020-02-28 19:45] ChrisSfanos commented on #10
Hi everyone
I'll be assisting with the on-boarding and post-onboarding process for bringing this project to the .NET Foundation

As part of the on-boarding, we need to:
1) Sign the CLA via DocuSign
2) Onboard the CLA via GitHub

To complete Step 1, I need the email addresses of:
@ili
@sdanyliv
@MaceWindu

If you don't want to post your email address here, please send it to me: chris.sfanos@dotnetf

[2020-02-28 20:04] jogibear9988 commented on #10
ili:
chudinia@gmail.com
sdanyliv:
sdanyliv@gmail.com

[2020-03-01 20:02] jogibear9988 commented on #10
@ChrisSfanos
hopefully you should now have all email addresses.

[2020-03-02 19:54] ChrisSfanos commented on #10
Yes I do - the CLA is out for signing

[2020-03-02 20:11] ChrisSfanos commented on #38
CLA is out for signing

[2020-03-04 18:43] jogibear9988 commented on #10
@ChrisSfanos
CLA should be signed, is it okay?

[2020-03-05 20:44] ChrisSfanos commented on #10
Yes, it's good - I'm moving forward with the next steps shortly

[2020-03-05 20:55] ChrisSfanos commented on #47
CLA is signed - moving to CLA onboarding via GitHub

[2020-03-05 20:56] ChrisSfanos commented on #38
CLA is signed - moving to CLA onboarding via GitHub

[2020-03-05 20:56] ChrisSfanos commented on #10
Next step is CLA Onboarding via GitHub - email sent with details

[2020-03-05 20:58] ChrisSfanos commented on #27
In an effort to be clear and transparent on the on-boarding/post onboarding processes, I'd like to track the steps via this checklist and update as we go until it's signed off.  First go at it:

## Onboarding
- [X ] CLA Signing via DocuSign
- [X ] CLA Onboarding via GitHub

## Post Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
-

[2020-03-05 21:05] ChrisSfanos commented on #28
CLA is completed - moving to CLA onboarding in GitHub

[2020-03-05 21:07] ChrisSfanos commented on #6
Next step is CLA onboarding in GitHub - email going out on this

[2020-03-05 21:32] ENikS commented on #26
@ChrisSfanos

Could you please delete old agreement, the one with transferred trademark? It floods my inbox with reminders.

@onovotny
Any word from your legal department?

[2020-03-06 00:44] AArnott opened #56 "Code Signing Certificate Request: Nerdbank.GitVersioning"
### Please fill in the information below

- **Project Name:** Nerdbank.GitVersioning
- **LastPass Email (or send offline):** andrewarnott@gmail.com

Certificate onboarding checklist:

- [x] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [x] Provide credentials in shared folder in LastPass
- [x] Request certificate from

[2020-03-06 01:17] onovotny commented on #56
@AArnott on the certificate subject, do you want it to say `Nerdbank` or `Nerdbank.GitVersioning`?

[2020-03-06 02:45] AArnott commented on #56
I have several other projects I'd like to use this on. So Nerdbank (or my full name) would be preferable.

[2020-03-06 14:29] onovotny commented on #56
@ChrisSfanos can you please use `Nerdbank` for the d/b/a registration?

[2020-03-06 16:25] ChrisSfanos commented on #47
We will track the remaining onboarding work via this checklist:

## Onboarding
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Post Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ] Reviewing t

[2020-03-06 16:25] ChrisSfanos commented on #38
We will track the remaining onboarding work via this checklist:

## Onboarding
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Post Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ] Reviewing t

[2020-03-06 16:26] ChrisSfanos commented on #10
We will track the remaining onboarding work via this checklist:

## Onboarding
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Post Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ] Reviewing t

[2020-03-06 16:26] ChrisSfanos commented on #6
We will track the remaining onboarding work via this checklist:

## Onboarding
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Post Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ] Reviewing t

[2020-03-06 16:26] ChrisSfanos commented on #5
We will track the remaining onboarding work via this checklist:

## Onboarding
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Post Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ] Reviewing t

[2020-03-06 16:27] ChrisSfanos commented on #23
We will track the remaining onboarding work via this checklist:

## Onboarding
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Post Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ] Reviewing t

[2020-03-06 16:27] ChrisSfanos commented on #28
We will track the remaining onboarding work via this checklist:

## Onboarding
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Post Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ] Reviewing t

[2020-03-06 16:27] ChrisSfanos commented on #26
We will track the remaining onboarding work via this checklist:

## Onboarding
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Post Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ] Reviewing t

[2020-03-06 16:27] ChrisSfanos commented on #20
We will track the remaining onboarding work via this checklist:

## Onboarding
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Post Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ] Reviewing t

[2020-03-06 16:41] bruno-garcia commented on #20
@ChrisSfanos Thanks for driving this! Happy we're moving forward.
Also, would it be possible to transfer the project to github.com/dotnet or github.com/dotnet-foundation so we don't need to keep that github.com/nugettrends org around? It's a single project: github.com/nugettrends/nuget-trends

[2020-03-06 17:05] ENikS commented on #26
I have a question:

I am planning to develop Unity full time. Obviously it would need to generate some kind of income for me to do so. Are there any restrictions on what I can and can't do?

[2020-03-06 17:34] ChrisSfanos commented on #56
Trade name has been registered

[2020-03-06 17:37] ChrisSfanos commented on #20
Seems reasonable, but @onovotny gets to make those calls

The next step is to configure the CLA bot - but if you are going to move the org, the steps vary slightly, so let's get that answered before I move forward with that

[2020-03-06 18:18] bruno-garcia commented on #20
Hi @onovotny , would it be possible to transfer the repo?

[2020-03-06 18:33] onovotny commented on #26
The eligibility criteria for member projects, new and ongoing, is listed here: https://github.com/dotnet-foundation/projects#eligibility-criteria

Beyond that, you can do whatever you want with it.

[2020-03-06 18:35] onovotny opened #58 "Add list of approved license types"
The projects readme lists

We should create a page somewhere that lists these out and links to it.

[2020-03-06 22:27] jogibear9988 commented on #10
@ChrisSfanos @MaceWindu did not get a mail

[2020-03-06 22:50] ChrisSfanos commented on #10
I forwarded the mail - the original just went to @ili

[2020-03-07 13:50] onovotny commented on #20
@bruno-garcia yes, will do

[2020-03-07 15:41] onovotny commented on #41
Yes, you should have an invite

I do see this though
![image](https://user-images.githubusercontent.com/1427284/76146373-24474980-6060-11ea-8a8c-6b7baad6dfcb.png)

[2020-03-07 15:42] onovotny commented on #43
We have the cert, what email address do you use for LastPass?

[2020-03-07 15:51] mitchelsellers commented on #43
I don’t use last pass but could create an account.

[2020-03-07 15:52] onovotny commented on #43
Please do -- we use that for secure credential sharing.

[2020-03-07 16:59] bruno-garcia commented on #20
@onovotny Invite sent. Thanks!

[2020-03-07 19:33] mitchelsellers commented on #43
Ok all set
msellers@iowacomputergurus.com

[2020-03-08 12:23] JimBobSquarePants commented on #41
Ah right... I don't normally use last pass so I didn't know this. I think I've done it now.

[2020-03-09 08:45] oskardudycz commented on #47
@ChrisSfanos thank you for the feedback! When should we expect next steps?

[2020-03-09 09:43] JimBobSquarePants commented on #41
Ok. Looks like I have everything now. Thanks for your help @onovotny !!

[2020-03-09 09:43] #41 closed

[2020-03-09 14:26] ChrisSfanos commented on #28
Per @AArnott , all steps are done

[2020-03-09 14:33] onovotny commented on #56
Andrew, I just invited you to the shared LastPass where the cert is setup and configured.

Two things:
1. Here's a template of how to add code signing to the build pipeline: https://github.com/novotnyllc/CodeSigningDemo
2. Once signing is configured, please add `dotnetfoundation` as a co-owner in NuGet.
3. For the nbgv tool package, you'll need a whitelist.txt to include on your binaries and not t

[2020-03-09 14:34] ChrisSfanos commented on #47
Emailing going out shortly

[2020-03-09 14:37] ChrisSfanos commented on #28
Closing

[2020-03-09 14:37] #28 closed

[2020-03-09 14:40] onovotny commented on #43
I just invited you to the shared LastPass where the cert is setup and configured.

Few things:
1. Here's a template of how to add code signing to the build pipeline: https://github.com/novotnyllc/CodeSigningDemo
2. Once signing is configured, please add `dotnetfoundation` as a co-owner in NuGet.
3. If you have any 3rd party binaries in your packages, you'll need a whitelist.txt to include on your

[2020-03-09 14:44] onovotny commented on #35
I just invited you to the shared LastPass where the cert is setup and configured.

Few things:
1. Here's a template of how to add code signing to the build pipeline: https://github.com/novotnyllc/CodeSigningDemo
2. Once signing is configured, please add `dotnetfoundation` as a co-owner in NuGet.
3. If you have any 3rd party binaries in your packages, you'll need a whitelist.txt to include on your

[2020-03-09 15:03] ChrisSfanos commented on #6
post on-boarding mail sent

[2020-03-09 15:07] ChrisSfanos commented on #5
CLA not signed - pinged signers

[2020-03-09 15:22] ChrisSfanos commented on #23
CLA onboarding complete - post onboarding email sent

[2020-03-09 15:32] AArnott commented on #56
Thanks.
nbgv isn't the only package that contains 3rd party binaries. My nerdbank.gitversioning package itself also contains 3rd party binaries (e.g. libgit2sharp). So I'm planning to use the special file list to sign all the binaries built from this repo and leave the rest alone. Does that sound reasonable?

[2020-03-09 17:04] AArnott commented on #56
https://github.com/dotnet/Nerdbank.GitVersioning/pull/446

[2020-03-09 17:16] AArnott commented on #56
Is it kosher to use this signing cert for my other projects that aren't part of the .NET Foundation?

[2020-03-09 17:24] onovotny commented on #56
It's probably not the best idea as the cert belongs to the "Nerdbank" Foundation project. One option could be to transfer the other project to the Foundation. ReactiveUI has a bunch of libraries (like Refit, Splat, Punchcard, and Akavache) that are all pretty much handled by the same team. Other projects do something similar (like Castle).

[2020-03-09 17:28] AArnott commented on #56
OK, I'll avoid over-using the cert then.

I have other software like Nerdbank.Streams. The popularity is certainly not at the level of Nerdbank.GitVersioning, so I assume it's not a dotnetfoundation project candidate. But I'd be happy to learn otherwise.

[2020-03-09 18:27] AArnott commented on #56
How can I get the (public) .cer file for this certificate? nuget.org is rejecting a push of a signed package until I first upload this file.

[2020-03-09 18:30] onovotny commented on #56
Add `dotnetfoundation` as a co-owner as we've already registered the cer there. You can also export it from the certificate viewer, but NuGet has asked .NET Foundation projects to be be added as a co-owner anyway.

[2020-03-09 18:33] AArnott commented on #56
Where is this certificate viewer you mention? What do I export the .cer file from? A file that is already signed?
I'll go ahead and add the owner as you say, but I would like to get the .cer file too.

[2020-03-09 18:37] onovotny commented on #56
any file that's already signed. In explorer, view the certificate and then on one of the taps there's a "copy to file...".

Anther ways is in NuGet Package Explorer, click the cert there and then one of the tabs has a "copy to file..." button.

[2020-03-09 18:42] #56 closed

[2020-03-09 18:43] AArnott commented on #56
I'm beginning to wonder if this means I can't service older versions of packages unless I also get them to be signed as well. I guess I should have based my code sign commit on my v2.x branch. I guess I can do that if I ever need to service them.

[2020-03-09 21:08] onovotny commented on #56
Once NuGet has a cert attached, future submissions for it will need to be signed. The code signing commit could be cherry-picked to the 2.x branch if needed.

[2020-03-10 14:54] ChrisSfanos commented on #23
Onboarding complete - closing

[2020-03-10 14:54] #23 closed

[2020-03-10 19:58] oskardudycz commented on #47
@ChrisSfanos  I've sent 2 PRs:
- https://github.com/dotnet/foundation/pull/164
- https://github.com/JasperFx/marten/pull/1436 (needs some small tweaks)

[2020-03-11 18:24] JeremySkinner commented on #27
Hi @ChrisSfanos the following are done and can be ticked off:

- Joining the Project leader mailing list (I've requested to join)
- Join slack channel
-  Enable CLA automation for future contributors (these are working nicely)
-  Reviewing the .NET Foundation Code of Conduct
-  Project layout cleanup (except for copyright)
- README updates
- PR to add to project list (https://github.com/dotnet/fou

[2020-03-11 18:50] ChrisSfanos commented on #27
Re: announcement: it's going to be in this month's newsletter, which I've submitted the PR for.  So technically it's not public, but the work is done for it :-)

Updating the rest of the boxes - big thanks!

[2020-03-12 22:02] jogibear9988 commented on #10
Seems wee did the most:

Joining the Project leader mailing list -> done
Joining the Project leader Slack channel -> done (MaceWindu and I did)
Joining the Project leader Slack channel -> MaceWindu did
Updating license/copyright in the repo + updating file headers -> Licencense seems okay?
Reviewing the .NET Foundation Code of Conduct -> I created a pull req (https://github.com/linq2db/linq2db/pul

[2020-03-13 13:57] ChrisSfanos commented on #10
Thanks!  For your questions
- MIT license is good - no action required
- CLA Automation: No actions required
- README - Per the guidance, can you add the Code of Conduct and .NET Foundation pointer (info is here: https://github.com/dotnet/foundation/blob/master/guidance/readme-guide.md)
- Project website: Can you add the reference/link to the .NET Foundation.

Thanks!

[2020-03-16 18:24] ChrisSfanos commented on #20
Looks like the repo is still under NugetTrends org right?  If we are moving it to dotnet-foundation org, I'll wait on the CLA config

[2020-03-16 23:37] ChrisSfanos commented on #5
Hi @matkoch and @arodus - checking in on your signatures for moving Nuke to the .NET Foundation.  Let me know if there are any issues/etc

[2020-03-18 01:43] bruno-garcia commented on #20
I opened the [onboarding PR](https://github.com/dotnet/foundation/pull/168/files#diff-04c6e90faac2675aa89e2176d2eec7d8R126) with the org `NuGetTrends` not to block anything. But I will open a follow up PR to change once @clairernovotny makes the a new org.

Thanks again folks to help phasing out that org.

[2020-03-18 12:12] clairernovotny commented on #20
Hi @bruno-garcia I'm not seeing the invite?

[2020-03-18 17:47] bruno-garcia commented on #20
@clairernovotny  This is odd, I even double checked yesterday before writing that message.

I see this:
<img width="741" alt="image" src="https://user-images.githubusercontent.com/1633368/76990788-4d50bf80-6927-11ea-8a65-a13e6760bfc0.png">

On https://github.com/NuGetTrends/nuget-trends/invitations

[2020-03-18 23:33] clairernovotny commented on #20
Looks like I can't transfer it without being either an org owner or unless you change the org setting to let members transfer repos:

![image](https://user-images.githubusercontent.com/1427284/77016880-52c20000-694f-11ea-8e91-44c362430bc3.png)

[2020-03-18 23:35] bruno-garcia commented on #20
TIL. Done:

<img width="736" alt="image" src="https://user-images.githubusercontent.com/1633368/77017019-0c24d380-6958-11ea-947b-a1a8e03ab00b.png">

[2020-03-18 23:44] clairernovotny commented on #20
Should be all set now! https://github.com/dotnet/nuget-trends

[2020-03-18 23:48] bruno-garcia commented on #20
Thanks a lot @clairernovotny !!
Do we stay admins then even outside of the org?

[2020-03-18 23:55] clairernovotny commented on #20
Yes, you should still be admins of your repo. If you run into any issues, please lmk!

[2020-03-18 23:58] bruno-garcia commented on #20
Awesome. Just [pushed to master](https://github.com/dotnet/nuget-trends/commit/5b42e553d9ee79262131713e4525750c11f19c5f) and it worked 👀

[2020-03-19 14:55] ChrisSfanos commented on #20
Excellent - I've gone in and configured the CLA for dotnet/NuGetTrends!  I'll do a quick review, but I believe the onboarding process is now complete :-)

[2020-03-19 14:56] ChrisSfanos commented on #20
Onboarding complete - closing this out

[2020-03-19 14:56] #20 closed

[2020-03-19 17:22] joaopgrassi commented on #20
Oh, now I'm "org-less" 😅. I liked having NuGet Trends there ☹

[2020-03-19 22:05] bruno-garcia commented on #20
@joaopgrassi you can still have it, but the project isn't part of that org anymore so makes little sense.
I think the github.com/dotnet is for Microsoft employees only. @clairernovotny or @ChrisSfanos can probably help clarify.

I'm a member of the github.com/dotnet-foundation which I believe anyone member of the foundation are part of.

[2020-03-20 14:48] ChrisSfanos commented on #38
CLA Bot onboarding complete - I've sent @marivs the post on-boarding work

[2020-03-20 14:49] ChrisSfanos commented on #10
Hi @jogibear9988 - any updates on the README and Project website updates?  Once those are done, we can wrap up the on-boarding efforts!

[2020-03-20 14:51] ChrisSfanos commented on #6
Pinged @david-driscoll for a status update

[2020-03-20 15:23] ChrisSfanos commented on #47
CLA bot configured
On-boarding complete - closing issue

[2020-03-20 15:23] #47 closed

[2020-03-20 18:42] jogibear9988 commented on #10
Readme is done

[2020-03-20 18:58] ChrisSfanos commented on #10
Thanks - taking a look at the github.io site, I think we don't need anything added.  That wraps up the list and we can close this out

[2020-03-20 18:58] #10 closed

[2020-03-20 19:01] jogibear9988 commented on #10
I've created a pull to add it to the HP:
https://github.com/linq2db/linq2db.github.io/pull/1

also this pull need's to be merged
https://github.com/dotnet/foundation/pull/167

[2020-03-20 19:02] ChrisSfanos commented on #10
Awesome - thanks!

[2020-03-22 14:01] kingcean opened #59 "Trivial"
## 1.   General Information

**Project Name:**
Trivial

**License:**
MIT

**Contributor (Company, Organization or individual name(s)):**
Kingcean (@kingcean)

**Existing OSS Project? (Yes/No):**
Yes.

**Source Code URL:**
https://github.com/nuscien/trivial

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Will be submitted via e-mail to contact@dotnetfoundation.org.

##

[2020-03-22 15:14] sbwalker commented on #52
There is no email address in this project application so I am posting a message here:

I am contacting you on behalf of the .NET Foundation Project Committee. In case you were not aware, we recently published a set of criteria for evaluating project applications:

https://github.com/dotnet-foundation/projects

There is a Board of Directors meeting this week where project applications will be revie

[2020-03-22 15:26] sbwalker commented on #45
There is no email address in this project application so I am posting a message here:

I am contacting you on behalf of the .NET Foundation Project Committee. In case you were not aware, we recently published a set of criteria for evaluating project applications:

https://github.com/dotnet-foundation/projects

There is a Board of Directors meeting this week where project applications will be revie

[2020-03-22 17:55] Karl15 commented on #45
I realize that the project involves logic chip design and is outside the
dotnet scope, so please discard the application.

Thank you, Karl

On Sun, Mar 22, 2020 at 11:26 AM Shaun Walker <notifications@github.com>
wrote:

[2020-03-23 15:24] galvesribeiro commented on #52
Hello @sbwalker I added my email to my post [here](https://github.com/dotnet-foundation/projects/issues/52#issuecomment-585502912). But sure, I'll reply and send to your email right now.

Thanks!

[2020-03-25 14:40] ChrisSfanos commented on #27
We are going with .NET Foundation and contributors for the copyright - synced with Jeremy and he's going to make these changes by EOW

[2020-03-25 18:36] galvesribeiro commented on #52
@sbwalker just checking, have you got my email with the answers to your questions? Thanks

[2020-03-25 19:22] sbwalker commented on #52
Yes, thank you!

[2020-03-26 17:03] ChrisSfanos commented on #26
I've updated the CLA and it's out for signing - please review/sign at your first opportunity so we can move forward with the onboarding

[2020-03-26 17:58] #45 closed

[2020-03-27 14:00] JeremySkinner commented on #27
I've made the copyright changes, and also updated the project list PR with missing files. Let me know if there's anything else you need from me

[2020-03-27 14:11] ChrisSfanos commented on #27
Thanks Jeremy!  Nope, looking at the list, that wraps up the onboarding process ... marking this one as closed out :-)

[2020-03-27 14:11] #27 closed

[2020-03-27 14:50] JeremySkinner commented on #27
That’s great, thanks for all your help getting this sorted 😊

[2020-03-27 14:52] ChrisSfanos commented on #52
Hi folks - I'll be processing the onboarding for the project.  To get started, I'll need the email addresses (for DocuSign and the CLA signing) from
@jterry75
@ahmetb
@jstarks
@swernli

You can either post them here or email them to chris.sfanos (at) dotnetfoundation.org

[2020-03-27 15:06] ChrisSfanos commented on #9
Hi everyone - I'll be processing the onboarding of your project.  We will use the following checklist to track the work.

## CLA
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright

[2020-03-27 15:21] ChrisSfanos commented on #9
CLA is out for signing

[2020-03-27 15:33] ChrisSfanos commented on #36
Hi everyone - I'll be handling the onboarding of your project.  To get started, I'll need the email addresses of
@vmuriart
@tonyroberts
Can you send (or forward) them to chris.sfanos (at) dotnetfoundation.org  - thanks!

[2020-03-27 15:41] ChrisSfanos commented on #36
Update - swapping in @lostmsu . I need both an email address and a last name - thanks!

[2020-03-27 15:47] ChrisSfanos commented on #55
Hi everyone - I'll be handling the onboarding of your project.  To get started with the CLA work, I need the email addresses of:
@kekekeks
@danwalmsley
You can email them to me at: chris.sfanos (at) dotnetfoundation.org

[2020-03-27 15:52] danwalmsley commented on #55
@ChrisSfanos Email sent, thanks. Let me know if I can help further.

[2020-03-27 15:52] ChrisSfanos commented on #51
Hi everyone - I'll be handling the onboarding of your project.  To get started, I just need the email address of
@filipjansson
you can email it to me at chris.sfanos (at) dotnetfoundation.org

[2020-03-27 17:28] ChrisSfanos commented on #51
We will be using the following checklist to complete the onboarding process

## CLA
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ] Rev

[2020-03-27 17:28] ChrisSfanos commented on #51
CLA is out for signing

[2020-03-27 17:39] ChrisSfanos commented on #55
Thanks all

We will be using the following checklist to track the work to complete the onboarding process

## CLA
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + u

[2020-03-27 17:39] ChrisSfanos commented on #55
CLA is out for signing

[2020-03-27 17:57] ChrisSfanos commented on #8
We will be using the following checklist to track progress for onboarding the project

## CLA
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers

[2020-03-27 17:57] ChrisSfanos commented on #8
CLA is out for signing

[2020-03-27 17:59] ChrisSfanos commented on #48
Hello everyone - we will be using the following checklist to track tasks during onboarding

## CLA
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file he

[2020-03-27 17:59] ChrisSfanos commented on #48
@clairernovotny  - can you sign this one when you get a chance - thanks!

[2020-03-27 19:04] sfmskywalker commented on #48
Great! Let me know if there’s anything I can do.

[2020-03-27 19:56] ChrisSfanos commented on #48
CLA signed and CLA bot configured.  I've sent the supplemental info to walk through the on-boarding steps

[2020-03-27 20:03] ChrisSfanos commented on #55
CLA Signed - email sent for CLA bot config

[2020-03-28 05:46] ahmetb commented on #52
`ahmetb@google.com`

[2020-03-28 07:58] mzorec commented on #9
CLA is signed.

[2020-03-30 15:16] ChrisSfanos commented on #51
CLA is signed - email sent for CLA onboarding

[2020-03-30 15:19] ChrisSfanos commented on #9
Thanks!  Email sent for CLA onboarding

[2020-03-30 15:32] ChrisSfanos commented on #38
Pinging @marivs on the latest status

[2020-03-30 18:17] dmetzgar commented on #38
Project list PR: https://github.com/dotnet/foundation/pull/174

Readme update: https://github.com/UiPath-Open/corewf/pull/103

[2020-03-30 18:23] ChrisSfanos commented on #55
CLA bot configured - sent email with details on completing the remaining onboarding items

[2020-03-30 19:09] ChrisSfanos commented on #51
CLA bot is configured - email sent with supplemental steps for onboarding

[2020-03-30 21:52] ChrisSfanos commented on #8
CLA is signed - email out for CLA bot config

[2020-03-31 14:26] ChrisSfanos commented on #9
CLA onboarding completed - supplemental details sent for remaining onboarding steps

[2020-03-31 15:41] ChrisSfanos commented on #52
Ping to
@jterry75
@jstarks
@swernli

I need your email addresses so we can move forward with the CLA signing.  You can email me (see previous comment) or post them here

[2020-03-31 16:07] jterry75 commented on #52
`juterry@microsoft.com`

[2020-03-31 16:09] jterry75 commented on #52
I think we should remove @swernli as no longer works in this area.

[2020-03-31 16:12] galvesribeiro commented on #52
I have the DNF CLA signed but if you need me to sign something else, just shoot an email to gutemberg (at) outlook.com

[2020-03-31 16:40] ChrisSfanos commented on #52
Thanks folks - removed him.. Just need John's and then I'll send this out - thanks!

[2020-03-31 17:56] ChrisSfanos commented on #8
CLA Bot complete
onboarding steps complete.  I've added Oqtane to the next Newsletter, so the announcement part is complete and will go out with the next edition

[2020-03-31 17:56] #8 closed

[2020-03-31 17:58] ChrisSfanos commented on #51
All onboarding steps are complete.  I've added Piranha CMS to the next newsletter announcement, so that wraps this up - thanks!

[2020-03-31 17:58] #51 closed

[2020-03-31 18:00] ChrisSfanos commented on #38
Onboarding is complete - closing this out

[2020-03-31 18:00] #38 closed

[2020-03-31 18:04] ChrisSfanos commented on #36
Hi @vmuriart
I still need your email address so I can send out the CLA for signing - thanks!

[2020-03-31 20:22] taylorb-microsoft commented on #52
John's is his first name to last name at microsoft.com

[2020-03-31 20:34] ChrisSfanos commented on #52
Thanks all - CLA is now out for signing

[2020-03-31 20:45] galvesribeiro commented on #52
Done

[2020-03-31 20:58] ahmetb commented on #52
Thanks. I'll quickly check w/ my employer to see there are no issues. BTW the CLA indicates the project name as Docker.NET which is not the name listed in the original request above. Is that potentially a problem?

[2020-03-31 21:12] galvesribeiro commented on #52
Oh! Good catch. I didn't saw that. It is confusing indeed but I guess the original name will be kept to avoid confusion with anything Docker Inc may come out with the domain docker.net...

@ChrisSfanos do you think you should update the CLA and send it again?

[2020-03-31 22:00] ChrisSfanos commented on #52
Yep, I will fix that - it should be Docket.DotNet.  I'm going to void the first one and create a new one with the corrected name.  Good catch!

[2020-03-31 22:14] ChrisSfanos commented on #26
CLA is signed.  CLA bot config email sent

[2020-03-31 22:14] ChrisSfanos commented on #52
Corrected CLA is now out for signing

[2020-04-01 14:38] ChrisSfanos commented on #9
Project onboarding list is complete and verified … closing

[2020-04-01 14:38] #9 closed

[2020-04-01 14:42] ChrisSfanos commented on #55
All work items are complete - closing this out

[2020-04-01 14:42] #55 closed

[2020-04-01 21:13] ChrisSfanos commented on #52
Hi everyone - we will be using the following checklist to track out work items

## CLA
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ]

[2020-04-01 21:13] ChrisSfanos commented on #52
CLA signing is complete - email out on CLA bot config

[2020-04-02 18:12] ChrisSfanos commented on #48
Looks like all the work items are complete - closing this out

[2020-04-02 18:12] #48 closed

[2020-04-02 18:15] ChrisSfanos commented on #36
Last call for @vmuriart - if no reply, I'll remove and send the CLA as-is

[2020-04-02 20:01] ChrisSfanos commented on #26
CLA bot complete - post onboarding supplemental email sent

[2020-04-02 20:05] ChrisSfanos commented on #52
CLA bot complete - supplemental steps are sent

[2020-04-02 20:22] ENikS commented on #26
Might take some time to complete the rest, trying to survive this new, glamorous virus

[2020-04-02 21:30] ChrisSfanos commented on #26
Completely understand - I'll check in in about a week and see how it's going

[2020-04-03 15:07] ChrisSfanos commented on #52
onboarding steps are complete … closing the issue

[2020-04-03 15:07] #52 closed

[2020-04-03 16:06] tom-englert opened #60 "ResXResourceManager"
## 1.   General Information

**Project Name:**
[code]

**License:**
[code]
**Contributor (Company, Organization or individual name(s)):**
[code]
**Existing OSS Project? (Yes/No):**
[code]

**Source Code URL:**
[code]
**Project Homepage URL (if different):**
[code]
**Project Transfer Signatories:**
Full legal name and email address required of the individual(s) with the authority to transfer or con

[2020-04-05 19:09] nicolas63 opened #61 "JHipster.NET blueprint"
## 1.   General Information

**Project Name:**

JHipster.NET blueprint

**License:**

Apache-2.0

**Contributor (Company, Organization or individual name(s)):**
The project is under JHipster Organization

Top five contributor :

@danielpetisme
@nicolas63
@BananeGuimauve
@maznag
@AdrianDo

**Existing OSS Project? (Yes/No):**

Yes

**Source Code URL:**

https://github.com/jhipster/jhipster-dotnetcor

[2020-04-06 14:36] ChrisSfanos commented on #36
Hi everyone - we will be using the following checklist to track all the CLA and onboarding tasks to bring the project over to the .NET Foundation

## CLA
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Up

[2020-04-06 14:37] ChrisSfanos commented on #36
CLA is signed - CLA bot onboarding email sent

[2020-04-07 02:08] ChrisSfanos commented on #6
PR is in for the project list - that's the last item, so marking this closed

[2020-04-07 02:08] #6 closed

[2020-04-07 17:15] dansiegel opened #62 "Project Support Request: Prism Library"
### Please fill in the information below:
- **Project Name:** Prism Library
- **Due by:** April 2020
- **Description:** The listed License type and secondary contact need to be updated.

1. Prism updated from the Apache to MIT License in September 2017. The DFN website still shows this as the Apache license
1. Brian Noyes is no longer with the project. Please change the secondary contact to [Dan S

[2020-04-09 15:53] tidyui opened #63 "Code Signing Certificate Request: [Project Name]"
### Please fill in the information below

- **Project Name:** Piranha CMS
- **LastPass Email (or send offline):** hakan@tidyui.com

Certificate onboarding checklist:

- [ ] Register trade name @ChrisSfanos
- [ ] Create organization with DigiCert
- [ ] Create configuration in Code Signing Service
- [ ] Provide credentials in shared folder in LastPass
- [ ] Request certificate from DigiCert
- [ ] Re

[2020-04-09 17:30] ChrisSfanos commented on #26
Hey @ENikS  - just checking in - have you made any progress with the onboarding?

[2020-04-09 17:41] ENikS commented on #26
Not much progress, sorry. Still don't feel too well.

[2020-04-09 17:44] ChrisSfanos commented on #36
CLA bot config complete - emailed supplemental notes for the onboarding items

[2020-04-10 17:13] clairernovotny commented on #62
@dansiegel can you please submit the changes as a PR to https://github.com/dotnet/foundation/blob/master/projects/prism.md?

[2020-04-10 19:07] clairernovotny commented on #43
@mitchelsellers are we okay to close this issue? are you all set?

[2020-04-10 19:08] clairernovotny commented on #39
Ping?

[2020-04-10 19:09] clairernovotny commented on #35
Just following up to see if we can close this out? Are you all set?

[2020-04-10 19:10] mitchelsellers commented on #43
@clairernovotny I haven't had a chance to implement due to time constraints.  But we can close for now

[2020-04-10 20:18] AArnott opened #66 "Application for AArnott/PInvoke project"
## 1.   General Information

**Project Name:** PInvoke

**License:** MIT

**Contributor (Company, Organization or individual name(s)):** Andrew Arnott (@aarnott), Julien Roncaglia (@vbfox), Juan Manuel Elosegui (@jmelosegui), Mathias Lykkegaard Lorenzen (@ffMathy), [and others](https://github.com/AArnott/pinvoke/graphs/contributors).

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** h

[2020-04-11 13:47] clairernovotny commented on #43
Okay, just please keep in mind that code signing and deterministic source linked builds are requirements for all Foundation projects. They shouldn't take too long to get configured.

You can see a sample on how to do deterministic builds here: https://github.com/clairernovotny/DeterministicBuilds

[2020-04-11 14:18] mitchelsellers commented on #43
Yes we are working this into our current release cycle.

[2020-04-11 14:33] mitchelsellers commented on #43
Is this required for .net framework projects as well. The deterministic build flags you show are .net Core based. Will they work in framework projects too? @clairernovotny

[2020-04-12 12:16] galvesribeiro opened #67 "Code Signing Certificate Request: Docker.DotNet"
- **Project Name:** Docker.DotNet
- **LastPass Email (or send offline):** gutemberg at outlook.com

Certificate onboarding checklist:

- [x] Register trade name @galvesribeiro
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [x] Provide credentials in shared folder in LastPass
- [x] Request certificate from DigiCert
- [x] Received certificate and finaliz

[2020-04-13 02:30] mitchelsellers opened #68 "Project Support Request: DNN Platform - Email Distribution List/Group"
We need to get a new email group setup: community@dnncommunity.org.

This should send to the following email addresses.

will@upendoventures.com
info@tjeps.com
timo@40fingers.net
dpoindexter@nvisionative.com

Other email groups have been setup for us in the past.

Let me know if you have any questions.

[2020-04-13 15:12] ChrisSfanos commented on #67
Registered docker.dotnet

[2020-04-14 16:12] invictus801 opened #69 "dotnet-foundationCode Signing Certificate Request: [Servermaxx]"
### Please fill in the information below

- **Project Name:**
- **LastPass Email (or send offline):**

Certificate onboarding checklist:

- [ ] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [x] Provide credentials in shared folder in LastPass
- [x] Request certificate from DigiCert
- [x] Received certificate and finali

[2020-04-14 16:19] ChrisSfanos commented on #69
Hi @invictus801  - it's not clear from this issue what the project name is that is supposed to be registered?

[2020-04-14 19:09] invictus801 commented on #69
Chris I may need help with that.

[2020-04-14 19:24] ChrisSfanos commented on #69
@clairernovotny  for help here - what project are we registering the Trade Name?

[2020-04-14 19:25] clairernovotny commented on #69
What .NET Foundation project is this for?

[2020-04-17 03:29] invictus801 opened #70 "Code Signing Certificate Request: [MaxxDx]"
### Please fill in the information below

- **Project Name:**
- **LastPass Email (or send offline):**

Certificate onboarding checklist:

- [ ] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [ ] Create configuration in Code Signing Service
- [ ] Provide credentials in shared folder in LastPass
- [x] Request certificate from DigiCert
- [ ] Received certificate and finali

[2020-04-17 14:41] ChrisSfanos commented on #70
Hi @invictus801  - What is this issue filed for?  There is no projectname listed in the title.  Is it related to the other request you filed before?

[2020-04-17 15:02] ChrisSfanos commented on #69
Hi @invictus801 - so I can't find Servermaxx in my list of .NET foundation projects (I actually can't find it anywhere on GitHub actually)
Can you drop me an email at chris.sfanos (at) dotnetfoundation.org and we can chat in more detail - thanks!

[2020-04-20 18:48] ChrisSfanos commented on #60
Hello!  We will be using the following checklist to on-board your project

## CLA
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ] Revie

[2020-04-20 18:49] ChrisSfanos commented on #60
CLA is out for signing

[2020-04-28 16:51] ChrisSfanos commented on #26
Hey @ENikS - hoping you are feeling better.  Have you had an opportunity to make progress?

[2020-04-28 16:55] ChrisSfanos commented on #60
CLA is signed - the project is in a personal organization, so checking on moving to dotnet foundation org

[2020-04-28 18:38] ENikS commented on #26
I've completed the following:
- Joining the Project leader mailing list
- Joining the Project leader Slack channel
- Reviewing the .NET Foundation Code of Conduct
-  Add Project to the .NET Foundation project list

[2020-04-29 14:02] clairernovotny commented on #63
@tidyui I just invited you to the shared LastPass where the cert is setup and configured.

Three things:

Here's a template of how to add code signing to the build pipeline:
- https://github.com/novotnyllc/CodeSigningDemo
- Once signing is configured, please add dotnetfoundation as a co-owner in NuGet. I think you've done this but I was waiting to accept until the pipeline was configured.
- For th

[2020-04-29 14:03] clairernovotny commented on #69
Closing as we only provide code signing certificates to member projects.

[2020-04-29 14:03] #69 closed

[2020-04-29 14:03] clairernovotny commented on #70
Closing as we only provide code signing certificates to member projects.

[2020-04-29 14:03] #70 closed

[2020-04-29 14:06] clairernovotny commented on #62
Can we close this issue out?

[2020-04-29 14:09] clairernovotny commented on #68
Should be all set now.

[2020-04-29 15:53] mitchelsellers commented on #68
Looks good!  Thanks!

[2020-04-29 15:53] #68 closed

[2020-04-30 15:25] bsstahl opened #71 "CoreWF ReadMe says "Supported by .NET Foundation" but Foundation documents don't"
In the CoreWF GitHub repo, the readme file (https://github.com/UiPath-Open/corewf) states "This project is supported by the .NET Foundation" however I don't see any indication of that, either on the .NET Foundation Website projects list (https://dotnetfoundation.org/projects?q=core&type=project&ps=10&pn=2&searchquery=corewf) or in the Projects Team's onboarding project (https://github.com/dotnet-f

[2020-05-05 19:31] tidyui commented on #63
Thanks! I will look into this as soon as I get the chance. One question though, we currently don't build packages automatically in our build pipeline, we just have a `.sh` file in the root of our repo that builds all of the packages. I'm not really sure what support `AppVeyor` or `Travis` (which is the build services we're using currently) have for on-demand builds of packages.

Anyway I will look

[2020-05-13 22:55] ENikS commented on #26
I've updated license in repositories and projects to be:
[code]

[2020-05-14 15:01] ChrisSfanos commented on #26
Thanks for the update @ENikS !  Looks like the README updates and the changes to the external website are all that is left to complete the on-board steps!

[2020-05-14 15:07] ChrisSfanos commented on #36
Checking on the status of the task list - thanks!

[2020-05-14 17:17] ENikS commented on #26
Updated [external site](http://unitycontainer.org). (See footer)

[2020-05-14 17:24] ChrisSfanos commented on #26
Verified - thanks!

[2020-05-14 20:41] ENikS commented on #26
I've completed the rest of steps:
* Project layout cleanup (as appropriate)
* README Guidance updates

[2020-05-14 21:09] ChrisSfanos commented on #26
Verified all item - marking this as closed - thanks!!

[2020-05-14 21:09] #26 closed

[2020-05-14 21:40] ENikS commented on #26
So, what is happening now, once all the todos are done?

[2020-05-14 21:43] ChrisSfanos commented on #26
The project has completed the full on-boarding to the .NET Foundation :-)

[2020-05-14 21:51] ENikS commented on #26
Excellent!

@clairernovotny
Now that the project is part of the Foundation, how would I apply for the certificate and other benefits we discussed earlier?

[2020-05-18 14:27] ChrisSfanos commented on #60
CLA onboarding is complete (as-is transfer of project to the dotnet org.  Following is the remaining steps needed to complete on-boarding

## CLA
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating l

[2020-05-19 14:45] ChrisSfanos commented on #36
Website updates are complete - all items are done - marking this as Closed!  Thanks for all your efforts :-)

[2020-05-19 14:45] #36 closed

[2020-05-19 14:48] ChrisSfanos commented on #60
Project transfer is complete - I've sent the remaining on-boarding steps + supplemental info

NOTE:  I didn't notice I had already pasted the checklist, so I've deleted that comment (in case you wonder where it went) :-)

[2020-05-20 13:23] galvesribeiro commented on #67
Hello folks! Do we have an update on this? Thanks!

[2020-05-20 16:16] ChrisSfanos commented on #60
Tom has completed all the remaining on-boarding steps.  I created an entry for the project in the next newsletter, so this wraps up the work for on-boarding!

[2020-05-20 16:16] #60 closed

[2020-05-21 14:14] clairernovotny commented on #71
CoreWF is a Foundation project. @ChrisSfanos can you please follow up with them to ensure they add their info to our website?

[2020-05-22 19:15] AArnott opened #72 "Code Signing Certificate Request: PInvoke"
### Please fill in the information below

- **Project Name:** [PInvoke](https://github.com/aarnott/pinvoke) (Application #66)
- **LastPass Email (or send offline):** andrewarnott@gmail.com

Certificate onboarding checklist:

- [x] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [x] Provide credentials in shared folder in

[2020-05-23 23:00] jmelosegui commented on #66
Here goes my info in case it is needed for the Project Transfer Signatories.

Juan M. Elosegui (elosegui@gmail.com)

[2020-05-24 03:43] ffMathy commented on #66
This is a great initiative. Let me know if I can be of help, and thanks for listing me as an author.

[2020-05-29 17:42] ChrisSfanos commented on #72
Trade Name is registered

[2020-05-30 07:19] tidyui commented on #63
Hi again! We're finally getting ready to release `8.3` of Piranha CMS and we have everything set up:

* SourceLink
* Deterministic Builds
* Symbol Packages
* Package Signing

However, on the final step in the GitHub Actions workflow it fails pushing the package to NuGet with the error message:

6
  BadRequest https://www.nuget.org/api/v2/package/ 455ms
7
error: Response status code does not indica

[2020-05-30 10:26] MarcoRossignoli opened #73 "Code Signing Certificate Request: Coverlet"
### Please fill in the information below

- **Project Name:** Coverlet
- **LastPass Email (or send offline):** sent offline to project-support@dotnetfoundation.org

Certificate onboarding checklist:

- [x] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [x] Provide credentials in shared folder in LastPass
- [x] Request c

[2020-05-30 10:26] MarcoRossignoli commented on #73
cc: @tonerdo

[2020-05-30 14:35] shurik88 opened #74 "Docker.DotNet"
### Please fill in the information below

- **Project Name:**
- **LastPass Email (or send offline):**

Certificate onboarding checklist:

- [ ] Register trade name @ChrisSfanos
- [ ] Create organization with DigiCert
- [ ] Create configuration in Code Signing Service
- [ ] Provide credentials in shared folder in LastPass
- [ ] Request certificate from DigiCert
- [ ] Received certificate and finali

[2020-05-30 14:35] #74 closed

[2020-05-31 05:57] tidyui commented on #63
Ok, I realized from the initial comment that this will work itself out when you accept the invitation as package owner 😀 I'll just wait for you to approve before trying again.

Regards

[2020-06-01 16:55] ChrisSfanos commented on #73
Trade name is registered

[2020-06-03 06:42] tidyui commented on #63
I've also requested for you to take ownership of two additional packages besides the ones I sent before that has been moved into the core repository.

[2020-06-03 11:29] clairernovotny commented on #63
All set, you should be able to push them now.

[2020-06-03 11:51] tidyui commented on #63
Great.. We're almost there, however after upload I got the following error:

<img width="787" alt="Skärmavbild 2020-06-03 kl  13 49 25" src="https://user-images.githubusercontent.com/781266/83633415-340ff480-a5a1-11ea-8ac2-aaa81ca01b4b.png">

I'm pushing using an API-Key on my account, I'm guessing I need to use another API-Key for it to accept the certificate that is attached to the DNF account?

[2020-06-03 11:57] clairernovotny commented on #63
I'm not sure why NuGet is doing that. The fastest solution is to upload the cert to your account. You can get the cert file if you open the package in NuGet Package Explorer, click where it says "Piranha CMS" on the top-left side, then in the details tab, select "copy to file..."

I believe you need to use the DER encoded binary option. Then you can upload that cert to the account with the api key

[2020-06-03 14:54] tidyui commented on #63
Hi there! I can't get it to work. We did like you suggested and saved the certificate from NuGet Package Explorer and uploaded it to NuGet.org. However it still fails and when looking at the error printout that I attached before I can see that the thumbprint is not the same as the one NuGet.org shows me after uploading the certificate.

[2020-06-03 14:57] tidyui commented on #63
Also, not really sure if I'm on the track here because when I go to "manage packages" I can see that DNF is the Signing Owner and I'm not able to change this option.

<img width="1113" alt="Skärmavbild 2020-06-03 kl  16 56 33" src="https://user-images.githubusercontent.com/781266/83652821-57479d80-a5bb-11ea-95d4-36234ee4720c.png">

[2020-06-03 14:58] clairernovotny commented on #63
Can you please send me one of the packages to look at? That is the correct signing owner.

[2020-06-03 14:59] tidyui commented on #63
I've sent you a signed package in the mail!

[2020-06-03 15:01] clairernovotny commented on #63
Thanks, I think I see the issue, can you please try again? Should work now.

[2020-06-03 15:11] tidyui commented on #63
Awesome! Thanks for the support, it seems to be working now 👍

[2020-06-04 13:33] tidyui commented on #63
You can close the issue now, everything seem to be working great except that I've opened an issue at NuGet 😀

https://github.com/NuGet/Home/issues/9647

Best regards

[2020-06-07 18:14] punker76 opened #75 "I would like to bring in MahApps.Metro to the .NET Foundation"
## 1.   General Information

**Project Name:** MahApps.Metro

**License:** [MIT](https://github.com/MahApps/MahApps.Metro/blob/develop/LICENSE)

**Contributor (Company, Organization or individual name(s)):** @punker76 (@MahApps)

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/MahApps/MahApps.Metro

**Project Homepage URL (if different):** https://mahapps.com

**Pr

[2020-06-11 03:15] AArnott commented on #66
@ChrisSfanos Repo has been transferred to dotnet org. New url https://github.com/dotnet/pinvoke

[2020-06-11 18:41] clairernovotny commented on #72
Should be all set and you have access to the credentials in the last pass.

[2020-06-11 18:41] #72 closed

[2020-06-11 22:51] ChrisSfanos commented on #66
CLA bot work is complete - supplemental email for the remaining onboarding items was sent today

[2020-06-13 14:34] clairernovotny commented on #73
I just invited you to the shared LastPass where the cert is setup and configured.

Three things:
1. Here's a template of how to add code signing to the build pipeline: https://github.com/novotnyllc/CodeSigningDemo
2. Once signing is configured, please add `dotnetfoundation` as a co-owner in NuGet.
3. For the tool packages, you'll need a whitelist.txt to include on your binaries and not the other o

[2020-06-13 18:21] MarcoRossignoli commented on #73
Thanks!

[2020-06-15 15:30] ChrisSfanos commented on #66
Checklist is complete - project is fully on-boarded. :-)
Closing this issue

[2020-06-15 15:30] #66 closed

[2020-06-15 20:47] clairernovotny commented on #67
I just invited you to the shared LastPass where the cert is setup and configured.

Three things:
1. Here's a template of how to add code signing to the build pipeline: https://github.com/novotnyllc/CodeSigningDemo
2. Once signing is configured, please add `dotnetfoundation` as a co-owner in NuGet.
3. For any tool packages, you'll need a whitelist.txt to include on your binaries and not the other o

[2020-06-16 15:42] galvesribeiro commented on #67
Thanks @clairernovotny

I'll implement update the pipeline and tag you there.

[2020-06-21 10:55] Texnomic opened #76 "Texnomic SecureDNS Project"
## 1.   General Information

**Project Name:** Texnomic SecureDNS

**License:** MIT

**Contributor (Company, Organization or individual name(s)):** Mohamed Samy

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** [https://github.com/Texnomic/SecureDNS](https://github.com/Texnomic/SecureDNS)

**Project Homepage URL (if different):** [https://securedns.texnomic.com/](https://securedns.tex

[2020-06-25 16:40] vatsan-madhavan commented on #66
Just noticing that this got onboarded to .NET Foundation. Congrats @AArnott @vbfox & co. - this is a great move!

[2020-06-28 20:55] yanjustino opened #77 "Polyjuice"
## 1.   General Information

**Project Name:** Polyjuice

**License:** https://github.com/emergingcode/polyjuice/blob/master/LICENSE

**Contributor (Company, Organization or individual name(s)):**

@yanjustino
@leisiamedeiros

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/emergingcode/polyjuice

**Project Homepage URL (if different):**

**Project Transfer Signato

[2020-06-28 22:31] SimonCropp opened #78 "Verify"
## 1.   General Information

**Project Name:** Verify

**License:** MIT

**Contributor (Company, Organization or individual name(s)):** Simon Cropp

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** all projects under https://github.com/VerifyTests. main repo is https://github.com/VerifyTests/Verify

**Project Homepage URL (if different):**

**Project Transfer Signatories:**

Simon Chr

[2020-06-28 22:48] SimonCropp commented on #78
amending...

 * https://github.com/VerifyTests/Verify.Aspose relies on https://www.aspose.com/ which is a commercial product

[2020-06-29 00:18] Texnomic commented on #76
Hello @clairernovotny ,
Could you please update me regarding the process expected time-frame and requirements ?
Thanks in advance.

[2020-06-29 22:32] ChrisSfanos commented on #75
Assignment Agreement is out for signatures

[2020-06-30 21:06] ChrisSfanos commented on #75
Forgot to post the checklist we will use for joining and on-boarding the project
## CLA
- [ ] CLA Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers
- [ ]

[2020-07-02 17:45] ChrisSfanos commented on #75
Assignment agreement complete - sending out CLA bot config mail shortly

[2020-07-06 15:37] ChrisSfanos commented on #75
CLA bot is now configured - emailed out the details for the remaining checklist items

[2020-07-10 22:59] punker76 commented on #75
@ChrisSfanos Here is a PR which adds some items from the list https://github.com/MahApps/MahApps.Metro/pull/3877
Let me know if this ok. Thx.

[2020-07-11 22:07] galvesribeiro commented on #67
@clairernovotny the PR is out https://github.com/dotnet/Docker.DotNet/pull/454 I appreciate a pair of eyes on it :) Thanks!

[2020-07-13 20:59] punker76 commented on #75
@ChrisSfanos [PR](https://github.com/dotnet-foundation/website/pull/194) for the last item in list

[2020-07-13 21:47] ChrisSfanos commented on #75
I did a quick eye check and it looks good - I can't merge it, but I'm going to mark the item as complete.  And that should wrap up the work list to get the project on-boarded - thanks!

[2020-07-13 21:47] #75 closed

[2020-07-17 09:30] mrshihab91 opened #80 ".NET Foundation"
## 1.   General Information

**Project Name:**

**License:**

**Contributor (Company, Organization or individual name(s)):**

**Existing OSS Project? (Yes/No):**

**Source Code URL:**

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and __email address__ required of the individual(s) with the authority to transfer or contribute the project to the .NET Fo

[2020-07-17 12:58] clairernovotny commented on #80
Closing as it looks like this issue was opened in error? If not, please re-open and provide the requested information.

[2020-07-17 12:58] #80 closed

[2020-07-20 12:06] AndreiMaz opened #81 "nopCommerce"
## 1.   General Information

**Project Name:**
nopCommerce

**License:**
nopCommerce Public License (actually it's GPLv3 + "powered by nopcommerce" requirement)

**Contributor (Company, Organization or individual name(s)):**
Nop Solutions, Ltd. We have many contributors:

Andrei Mazulnitsyn (@AndreiMaz)
Maksim Romanov (@RomanovM)
Sergey Koshelev (@skoshelev)
Dmitry Kulagin (@DmitriyKulagin)
Dmitry

[2020-07-20 21:16] bruno-garcia opened #82 "[NuGet Trends] Hosting support"
Since there's no template for this of request, taking a guess, let me know if there's a process for this.

Currently the [member project NuGet Trends](https://github.com/dotnet/nuget-trends) runs as a set of docker containers on a single machine, located in Germany. The server bill is currently paid by me.

I wonder if the foundation is able to provide some azure credits or something else in order

[2020-07-20 21:25] clairernovotny commented on #82
Thanks @bruno-garcia. The projects committee oversees project support requests like this. @sbwalker.

We can provide a resource group in our Azure subscription that can host this. The committee would want to know a proposed architecture and rough costs for running this in the "ideal" way. I.e., probably containers App Services for handling ingress, scheduled functions, and hosted database, etc.

O

[2020-07-20 23:52] SimonCropp commented on #62
@clairernovotny guessing the answer is yes :)

[2020-07-21 00:37] #62 closed

[2020-07-23 17:44] ChrisSfanos commented on #78
Hello!  I'll be driving the project on-boarding process.  We will follow the checklist below - thanks!

## CLA
- [ ] Project Agreement Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in t

[2020-07-23 17:47] ChrisSfanos commented on #78
Project agreement is out for signing

[2020-07-24 17:49] ChrisSfanos commented on #78
DocuSign complete - CLA onboarding email sent

[2020-07-24 20:13] ChrisSfanos commented on #78
CLA bot is configured - remaining on-boarding steps are up next - supplemental mail sent shortly

[2020-07-25 10:23] tom-englert opened #83 "Project Support Request: ResXResourceManager"
- **Project Name: ResXResourceManager**
- **Due by:**
- **Description:**
The project is suffering from a bug/missing feature in the new projects system of Visual Studio, one of the features does not work correctly when using it with a Visual Studio project that uses the new project format. (https://github.com/dotnet/ResXResourceManager/issues/290)

There is an issue for the projects system (https:

[2020-07-25 12:56] clairernovotny commented on #83
@davkean @drewnoakes @davidwengier

[2020-07-25 12:57] clairernovotny commented on #83
Hi Tom,

I'm not sure what the Foundation can do directly here but I've included folks from the project-system team who may be able to help.

[2020-07-25 15:46] grh72573 opened #84 "work share google chrome"
## 1.   General Information

**Project Name:**

**License:**

**Contributor (Company, Organization or individual name(s)):**

**Existing OSS Project? (Yes/No):**

**Source Code URL:**

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and __email address__ required of the individual(s) with the authority to transfer or contribute the project to the .NET Fo

[2020-07-25 15:59] clairernovotny commented on #84
Closing as blank.

[2020-07-25 15:59] #84 closed

[2020-07-26 04:42] SimonCropp commented on #1
@jongalloway can u add https://github.com/VerifyTests/ to the allow list

[2020-07-26 05:21] jongalloway commented on #1
![](https://pics.onsizzle.com/its-an-older-code-sir-but-it-checks-out-quiekmeme-com-24511126.png)

Added, but going forward the best way to get any project support is by creating a [Project Support Request issue](https://github.com/dotnet-foundation/projects/issues/new/choose). That will notify the current project support team.

[2020-07-27 10:49] josesimoes opened #85 "Application from .NET nanoFramework"
## 1.   General Information

**Project Name:**
.NET nanoFramework

**License:**
Apache 2.0 & MIT

**Contributor (Company, Organization or individual name(s)):**
@josesimoes
@AdrianSoundy
@networkfusion
@piwi1263
@eclo

**Existing OSS Project? Yes:**

**Source Code URL:**
https://github.com/nanoframework

**Project Homepage URL (if different):**
https://www.nanoframework.net

**Project Transfer Sig

[2020-07-27 15:17] ChrisSfanos commented on #78
All on-boarding steps are complete!  Thanks for the quick turnaround :-)

[2020-07-27 15:17] #78 closed

[2020-07-27 22:11] SimonCropp commented on #78
@ChrisSfanos thanks for all your help

[2020-08-08 07:15] kent7301 opened #86 "NEW"
## 1.   General Information

**Project Name:**

**License:**

**Contributor (Company, Organization or individual name(s)):**

**Existing OSS Project? (Yes/No):**

**Source Code URL:**

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and __email address__ required of the individual(s) with the authority to transfer or contribute the project to the .NET Fo

[2020-08-08 12:55] clairernovotny commented on #86
Closing as blank.

[2020-08-08 12:55] #86 closed

[2020-08-08 13:14] kent7301 opened #87 "Нужна помощь Project Support Request: [Project Name]"
### Please fill in the information below:
- **Project Name:**
- **Due by:**
- **Description:**

[2020-08-12 18:00] JeremySkinner opened #88 "Code Signing Certificate Request: FluentValidation"
Hi, I'd like to get nuget package signing set up for FluentValidation. Thanks!

### Please fill in the information below

- **Project Name:** FluentValidation
- **LastPass Email (or send offline):** jeremy@jeremyskinner.co.uk

Certificate onboarding checklist:

- [x] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [x] Pr

[2020-08-12 18:23] galvesribeiro commented on #67
Hey folks!

Since the PR is merged the nuget is out, I'm going to close this issue since we're all set for now.

I appreciate all the help so far onboarding this project.

Thanks!

[2020-08-12 18:23] #67 closed

[2020-08-14 18:20] ChrisSfanos commented on #88
Sorry for the delay - trade name has been registered

[2020-08-15 16:14] tom-englert commented on #83
@davkean @drewnoakes @davidwengier @jmarolf Are there any plans to fix this?

[2020-08-15 16:24] tom-englert opened #89 "Code Signing Certificate Request: ResXResourceManager"
- Project Name: ResXResourceManager
- LastPass Email: Sent per mail

Certificate onboarding checklist:

- [x] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [x] Provide credentials in shared folder in LastPass
- [x] Request certificate from DigiCert
- [x] Received certificate and finalize sign service configuration

[2020-08-17 16:23] ChrisSfanos commented on #89
Submitted Trade Name registration this morning

[2020-08-17 21:09] jmarolf commented on #83
@tom-englert I would recommend adding your thumbs up (👍) to https://github.com/dotnet/project-system/issues/1870 to help the team prioritize it.

[2020-08-18 08:28] tom-englert commented on #83
@jmarolf already did.
Maybe you should also count the number of releated issues other users have created and voted for - most of them just did not find this core one.
I've mentioned some of them.

[2020-08-18 17:49] ENikS commented on #26
@ChrisSfanos

I do not see myself as a member of [foundation](https://github.com/dotnet), am I not accepted?

[2020-08-18 18:26] ChrisSfanos commented on #26
Actually I don't have any control over that - adding @clairernovotny  for input

[2020-08-19 16:34] ENikS commented on #26
@ChrisSfanos

I been trying to ask @clairernovotny  questions above but she is ignoring this thread. Could you please contact her in some other way and bring this to her attention?

[2020-08-19 16:39] clairernovotny commented on #26
Sorry, not intentionally filtering anything, just get a lot of GitHub notifications and it's easy to miss them. The membership committee takes care of member related things, did you submit an application to be a member? I can follow up with the committee in that case, they're usually pretty fast about processing things.

[2020-08-19 16:48] ENikS commented on #26
@clairernovotny

I was under assumption that being part of foundation automatically makes me a member. Could you please point me to the relevant info how to apply?

In emails with Oren Novotny we discussed certain benefits the project could apply for. This was the original motivation to became a member of the foundation. Could you provide me with some info on what could be done in this regard?

[2020-08-19 17:00] clairernovotny commented on #26
There's a form to fill out here: https://dotnetfoundation.org/member/become-a-member to become a member. Onboarding a project doesn't automatically make its maintainers members (two different systems/processes), but all maintainers automatically qualify. Just put it in the notes section of the form.

[2020-08-20 01:35] BillWagner opened #90 "C# standardization: ECMA TC49-TG2"
## 1.   General Information

**Project Name:** C# language specification standardization

**License:** MIT

**Contributor (Company, Organization or individual name(s)):** ECMA TC49-TG2 (The C# language standards committee).

**Existing OSS Project? (Yes/No):** No. The committee has been working in private, with only the approved standards being public. If accepted, the committee will do its future

[2020-08-22 00:47] SeanKilleen opened #92 "https://dnfprojects.azurewebsites.net/ is not truly open-source"
Hi all,

## Background

I was excited to see the metrics web site at https://dnfprojects.azurewebsites.net/ -- I think it provides a strong draft to build upon. I don't agree with the health criteria selected, but that's fine -- I appreciate that it provides a starting point for the conversation.

The first thing I wanted to do to celebrate this was to ensure that others could see the source code

[2020-08-23 18:55] sbwalker commented on #92
Thank you for your feedback. Its fairly normal in open source that once someone sees a solution in action, they will have opinions on ways it could be modified or how it could be implemented differently. In this particular case, it might be helpful to understand the original requirements.

The Project Committee was tracking the Github activity metrics outlined in the Project Charter manually using

[2020-08-26 14:10] unaizorrilla opened #94 "New .NET Foundation Project Application (Esquio)"
## 1.   General Information

**Project Name:**
Esquio

**License:**
Apache-2.0 License

**Contributor (Company, Organization or individual name(s)):**
Unai Zorrilla Castro (@unaizorrilla)

**Existing OSS Project? (Yes/No):**
Yes

**Source Code URL:**
https://github.com/Xabaril/Esquio/

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and unai@plainconcept

[2020-08-30 01:30] #92 closed

[2020-09-02 14:48] ChrisSfanos commented on #85
Hello!  I will be driving the onboarding process to add .NET nanoFramework to the .NET Foundation.  We will be following the following checklist and I'll be sending extra details along the way

## CLA
- [ ] Project Agreement Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing

[2020-09-02 15:04] ChrisSfanos commented on #85
CLA is out for signing

[2020-09-02 18:12] josesimoes commented on #85
Hi @ChrisSfanos !

Signing via DocuSign done.

[2020-09-02 19:36] ChrisSfanos commented on #85
Signing complete - I'll send info on the CLA bot in a few

[2020-09-03 14:22] jsuarezruiz opened #95 "Xamarin Community Toolkit"
## 1.   General Information

**Project Name:** Xamarin Community Toolkit

**License:** [MIT License](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/LICENSE)

**Contributor (Company, Organization or individual name(s)):** Microsoft and the Xamarin Community

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/xamarin/XamarinCommunityToolkit

**Project Home

[2020-09-03 15:17] ENikS opened #96 "Project Support Request: Unity Container"
### Please fill in the information below:
- **Project Name:** Unity Container
- **Due by:** September 17
- **Description:** On behalf of Unity Container organization I've filed an application for trade name. I've received a request for Office Action from USPTO. The action states that **Unity Container** is in conflict with **Unity** the game engine.
I would appreciate if the foundation could assis

[2020-09-03 15:26] ENikS opened #97 "Code Signing Certificate Request: Unity Container"
### Please fill in the information below

- **Project Name:** Unity Container
- **LastPass Email (or send offline):** unitycontainer@eniks.com

Certificate onboarding checklist:

- [x] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [x] Provide credentials in shared folder in LastPass
- [x] Request certificate from DigiC

[2020-09-03 15:28] ENikS commented on #97
@ChrisSfanos

I've filed an application for trade name but it requires some legal help. I've created [an issue](https://github.com/dotnet-foundation/projects/issues/96) for that.

[2020-09-03 15:49] clairernovotny commented on #97
@ENikS you don't need to do that, we handle the trade name bits.

[2020-09-03 15:51] clairernovotny commented on #96
We will register `Unity Container` as a trade name of the .NET Foundation in Washington State, where the Foundation is registered. We do not need to interact with the USPTO as we are not filing a trademark application.

[2020-09-03 15:58] ENikS commented on #96
Excellent!  Thank you for quick response!

[2020-09-03 15:58] #96 closed

[2020-09-03 16:03] ChrisSfanos commented on #97
Yep, I'll handle the registration - go ahead and dump your application and I'll take care of this today

[2020-09-03 16:05] ENikS opened #98 "Project Support Request: Unity Container"
### Please fill in the information below:
- **Project Name:** Unity Container
- **Due by:**
- **Description:** I was wondering if the foundation or Microsoft could sponsor **Unity Container** project with MSDN subscription?

It would be very beneficial for the project if development could be done on a full featured development platform.

[2020-09-03 16:08] ENikS commented on #97
I've created DigiCert organization

Are there more detailed info on last 4 steps in the checklist?

[2020-09-03 16:45] clairernovotny commented on #97
@ENikS you won't need to do that, we handle everything. We'll set it up in our signing service and share the credentials when it's set up. It could take 1-3 weeks depending on DigiCert's turnaround.

[2020-09-03 16:51] ChrisSfanos commented on #97
Trade name registration was submitted this morning

[2020-09-03 16:51] ENikS commented on #97
Will this signing facilitate NuGet signing as well?

[2020-09-03 16:54] clairernovotny commented on #97
Yes, the signing service handles exe, dll, vsix, nupkg, etc.

[2020-09-06 09:52] tom-englert opened #99 "DataGrid Extensions"
## 1.   General Information

**Project Name:**
[code]

**License:**
[code]
**Contributor (Company, Organization or individual name(s)):**
[code]
**Existing OSS Project? (Yes/No):**
[code]

**Source Code URL:**
[code]
**Project Homepage URL (if different):**
[code]
**Project Transfer Signatories:**
Full legal name and email address required of the individual(s) with the authority to transfer or con

[2020-09-07 15:14] tomasherceg opened #100 "Project Spotlight Request: DotVVM"
## General Information

**Project Name:** DotVVM

**Contributor (Company, Organization or individual name(s)):** Tomáš Herceg (most of the team is from the RIGANTI company)

**Source Code URL:** https://github.com/riganti/dotvvm

**Documentation URL:** https://www.dotvvm.com/docs

**Contribution URL:** https://github.com/riganti/dotvvm

**Project Homepage URL (if different):** https://www.dotvvm.c

[2020-09-08 12:18] clairernovotny commented on #98
VS Community has the same features as VS Pro -- what specifically do you need from MSDN?

[2020-09-08 12:32] #73 closed

[2020-09-08 12:37] MarcoRossignoli commented on #73
Sorry @clairernovotny for delay, very busy summer

we've to take a decision on https://github.com/coverlet-coverage/coverlet/issues/874 and after we can complete new pipeline/signing process cc: @tonerdo @petli

[2020-09-08 16:45] ENikS commented on #98
I would like to have Code Coverage tool available as well as some debugging features that are only enabled in Enterprise version.
It is indispensable when working on such a complex project with so many compatibility issues.

[2020-09-08 21:53] clairernovotny commented on #88
I just invited you to the shared LastPass where the cert is setup and configured.

Few things:
1. Here's a template of how to add code signing to the build pipeline: https://github.com/novotnyllc/CodeSigningDemo
2. Once signing is configured, please add `dotnetfoundation` as a co-owner in NuGet.
3. If you have any 3rd party binaries in your packages, you'll need a whitelist.txt to include on your

[2020-09-08 21:55] clairernovotny commented on #89
I just invited you to the shared LastPass where the cert is setup and configured.

Few things:
1. Here's a template of how to add code signing to the build pipeline: https://github.com/novotnyllc/CodeSigningDemo
2. Once signing is configured, please add `dotnetfoundation` as a co-owner in NuGet.
3. If you have any 3rd party binaries in your packages, you'll need a whitelist.txt to include on your

[2020-09-08 21:56] clairernovotny commented on #97
Looks like you may need to sign into last pass as per the dialog below.

![image](https://user-images.githubusercontent.com/1427284/92531601-97db3680-f1fc-11ea-9f36-c9b2ec7390a5.png)

I just invited you to the shared LastPass where the cert is setup and configured.

Few things:
1. Here's a template of how to add code signing to the build pipeline: https://github.com/novotnyllc/CodeSigningDemo
2. O

[2020-09-08 21:57] JeremySkinner commented on #88
Thanks Claire, I’ll try and make a start on this over the weekend and will let you know if I run into any issues

[2020-09-09 19:04] ENikS commented on #97
I generated these keys on their website but I don't see any shares or invitations.

[2020-09-11 11:32] tom-englert commented on #89
@clairernovotny: how to get this running? According to https://docs.microsoft.com/en-us/azure/security/develop/security-code-analysis-overview this is a paid service.

Can I just skip this?

    # If you have MSCA: https://aka.ms/mscadocs
          - task: ms-codeanalysis.vss-microsoft-security-code-analysis-devops.build-task-antimalware.AntiMalware@3

[2020-09-11 15:51] tom-englert commented on #89
@clairernovotny I think I found the solution, I can simply use `"%ProgramFiles%\Windows Defender\MpCmdRun.exe" -Scan -ScanType 3 -File "<path to binaries>"`

[2020-09-11 17:02] ENikS commented on #97
Accepted the share

[2020-09-11 17:06] SteveSyfuhs opened #101 "Code Signing Certificate Request: Kerberos.NET"
### Please fill in the information below

- **Project Name:** Kerberos.NET
- **LastPass Email (or send offline):** steve@syfuhs.net

Certificate onboarding checklist:

- [x] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [x] Provide credentials in shared folder in LastPass
- [x] Request certificate from DigiCert
- [x] R

[2020-09-11 18:31] ChrisSfanos commented on #101
Trade Name registration submitted

[2020-09-13 15:36] tom-englert commented on #89
Done, finally it was very easy to use!

[2020-09-13 15:36] #89 closed

[2020-09-13 15:39] tom-englert commented on #89
P.S. that's the updated pipeline:
https://github.com/dotnet/ResXResourceManager/blob/master/azure-pipelines.yml
https://dev.azure.com/tom-englert/Open%20Source/_build?definitionId=35

[2020-09-14 14:44] ChrisSfanos commented on #85
CLA Bot is now configured - supplemental info for remaining steps coming out shortly

[2020-09-18 23:50] mconnew commented on #35
@clairernovotny, sorry it's taken so long to get to this. I got swamped with other things. I'm trying to work out what's needed to do the code signing. I'm going through the demo and have got to the code signing part. I'm not sure if I'm understanding what's needed correctly, but it seems like I need to have my own Azure AD instance, and need to configure and deploy my own implementation of the si

[2020-09-23 20:30] ChrisSfanos commented on #95
Hello everyone - I'll be driving the on-boarding process for Xamarin Community Toolkit.  We will be following the checklist below

## CLA
- [ ] Project Agreement Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Upda

[2020-09-23 20:30] ChrisSfanos commented on #95
Project agreement is out for signing

[2020-09-23 20:33] ChrisSfanos commented on #94
Hello - we will be following the checklist below to onboard the project

## CLA
- [ ] Project Agreement Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating file headers

[2020-09-23 20:43] ChrisSfanos commented on #94
Hi @lfraile - I need your full name and email address for the CLA agreement.  You can email it to chris.sfanos (at) dotnetfoundation.org if you'd prefer

[2020-09-23 20:54] ChrisSfanos commented on #99
Hello - we will be using the following checklist to complete the onboarding process

## CLA
- [ ] Project Agreement Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyright in the repo + updating

[2020-09-23 20:54] ChrisSfanos commented on #99
CLA is out for signing

[2020-09-24 03:09] yang-xiaodong opened #102 "New .NET Foundation Project Application: CAP"
## 1.   General Information

**Project Name:**

CAP

**License:**

MIT

**Contributor (Company, Organization or individual name(s)):**

Yang Xiaodong (@yang-xiaodong)

**Existing OSS Project? (Yes/No):**

Yes

**Source Code URL:**

https://github.com/dotnetcore/CAP

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and yangxiaodong1214@126.com required of

[2020-09-24 07:20] lfraile commented on #94
Hello @ChrisSfanos, sure, here it goes: Luis Fraile Hernández and my email lfraile@lfraile.net

[2020-09-24 14:58] ChrisSfanos commented on #94
Thanks!
CLA is now out for signatures

[2020-09-24 17:37] SteveSyfuhs commented on #101
Friendly status check?

[2020-09-24 17:40] clairernovotny commented on #101
Waiting on DigiCert validation. Sometimes it's fast, sometimes it's....not, sadly.

[2020-09-25 03:00] mitchelsellers opened #103 "Project Support Request: DNN Platform"
### Please fill in the information below:
- **Project Name:** DNN Platform
- **Due by:** ASAP
- **Description:** We need to get info@danielvaladas.com added to our DevOps account as his existing account is having issues and Microsoft support is recommending this new identity being added.

He should have the same permissions as Myself and Brian Dukes in the organization.

[2020-09-25 10:03] devlead opened #104 "Project Support Request: cake-build/cake"
- **Project Name:** cake-build/cake
- **Due by:**
- **Description:** CLA bot not reporting back

See that webhook delivers payload for PR events to logic app and they're getting 202, but GitHub status check isn't triggered
![image](https://user-images.githubusercontent.com/1647294/94254312-e4c24b00-ff26-11ea-970d-47aa57f45aca.png)

Example PR
https://github.com/cake-build/cake/pull/2865

[2020-09-25 12:23] clairernovotny commented on #103
That email/account is already there, not sure I'm following?

[2020-09-25 12:24] clairernovotny commented on #103
Should be all set now.

[2020-09-25 12:25] clairernovotny commented on #104
I'll ping the folks who run the bot.

[2020-09-25 14:32] devlead commented on #104
Excellent, happy to jump on a Teams call if there's any assistance needed from our part.

[2020-09-25 17:30] ChrisSfanos commented on #95
CLA is signed
I was also able to configure the CLA bot because the Xamarin org already has granted the bot the required perms.  I'll send out a set of instructions for the remaining steps shortly

[2020-09-25 17:30] valadas commented on #103
Hi @clairernovotny , it looks like it is showing my old email.
![image](https://user-images.githubusercontent.com/6371568/94297573-ba768a80-ff32-11ea-952c-0349b768c641.png)

Basically that email was tied to my ISP which is no longer available where I moved, I first change my email to info@danielvaladas.com in my microsoft accountwhich is not tied to any isp. It only changed in some places and well

[2020-09-25 17:34] ChrisSfanos commented on #94
CLA is signed - I've sent an email detailing the steps to configure permissions for the CLA Bot

[2020-09-25 17:43] jfversluis commented on #95
Great! Thank you @ChrisSfanos !

[2020-09-25 20:22] ChrisSfanos commented on #85
All onboarding issues are complete - marking as closed

[2020-09-25 20:22] #85 closed

[2020-09-26 10:39] tom-englert commented on #99
@clairernovotny
Just realized that the CLA contains the wrong project name:
![image](https://user-images.githubusercontent.com/10229954/94338765-23263b80-fff5-11ea-85a5-0968b89be6a8.png)
Can you update this, please, so I can sign it.

[2020-09-26 16:09] ChrisSfanos commented on #99
My mistake. I think I swapped it with a different one. I’ll fix this on Monday

Chris

________________________________
From: tom-englert <notifications@github.com>
Sent: Saturday, September 26, 2020 3:39:32 AM
To: dotnet-foundation/projects <projects@noreply.github.com>
Cc: ChrisSfanos <csfanos@gmail.com>; Assign <assign@noreply.github.com>
Subject: Re: [dotnet-foundation/projects] DataGrid Exten

[2020-09-27 22:44] valadas commented on #103
Thanks @clairernovotny and @mitchelsellers it looks like I was missing an invite email which I found and clicked on. All looks nice now and this issue can be closed.

[2020-09-28 14:27] ChrisSfanos commented on #99
Fixed and resent for signatures

[2020-09-28 15:43] clairernovotny commented on #104
It looks like dnfadmin is no longer an owner of the cake-build org? Can you please fix that? dnfadmin needs to be an owner of Foundation project orgs. That may be impacting this.

Thanks

[2020-09-28 16:34] devlead commented on #104
Isn't @dnfclas used for CLA? It's member of a team that has maintainer access, shouldn't that be sufficient to do the status check?
![Screenshot_20200928-183117](https://user-images.githubusercontent.com/1647294/94460478-16524500-01b9-11eb-8846-2df54cf77161.jpg)

[2020-09-28 16:45] clairernovotny commented on #104
There are several issues, and Foundation policy requires that dnfadmin account to always be an owner on the org. Has to do with security and continuity, mostly. It's never used to interfere.

[2020-09-28 18:00] devlead commented on #104
I see, seems to be working now.
![Screenshot_20200928-195953](https://user-images.githubusercontent.com/1647294/94468808-4c95c180-01c5-11eb-9db5-fd74a182d17f.jpg)

[2020-09-28 18:00] #104 closed

[2020-09-28 18:21] clairernovotny commented on #104
Glad it's working but can you please restore dnfadmin to owner?

[2020-09-28 19:12] devlead commented on #104
Thought dnfadmin was a high privilege break glass account, but see activity in our audit logs.

See it's being used as a bot, with more privileges than it needs to preform those tasks.

It also across multiple orgs/repos creates forks, commits, raises issues and merges PRs, which indicates someone's actively using it from their browser.

Which raises security concerns, what process and policies ar

[2020-09-28 19:48] clairernovotny commented on #104
The `dnfadmin` account is protected with FIDO keys and very limited access. We're working with GitHub on overall improvements so that we don't need this kind of account in the future but it's still required today.

[2020-09-28 20:06] mitchelsellers opened #105 "Project Spotlight Request: DNN Platform"
## General Information

**Project Name:** DNN Platform (Formerly DotNetNuke)

**Contributor (Company, Organization or individual name(s)):** DNN Community Managed, current community leadership team: Mitchel Sellers, David Poindexter, Will Strohl, and Peter Donker

**Source Code URL:** https://github.com/dnnsoftware/Dnn.Platform

**Documentation URL:** https://dnndocs.com/

**Contribution URL:** ht

[2020-09-29 15:52] ChrisSfanos commented on #95
Looks like all checklist items are complete - this wraps up the onboarding process.  Welcome to the .NET Foundation!

[2020-09-29 15:52] #95 closed

[2020-09-29 15:59] ChrisSfanos commented on #99
Signing complete - I've sent details on the CLA bot onboarding process

[2020-09-29 20:33] clairernovotny commented on #35
There is a shared instance.... the config is in the lastpass along with the username/password. (the config itself is public).

[2020-09-30 00:31] mconnew commented on #35
Is there any best practices around when to sign? I publish packages after every build to the devops artifacts nuget feed but the example is set to only sign when a manual build is kicked off. Is it normal that CI builds are not signed and only hand picked builds get signed and then pushed to nuget?

[2020-09-30 01:07] clairernovotny commented on #35
the example signs every non-PR build and it uses a different stage to ensure that secrets aren't exposed to any build scripts.

[2020-09-30 01:24] mconnew commented on #35
How do the SignClientUser and SignClientSecret get to the pipeline? I'm having difficulty working out where they would be configured in Azure Devops?

[2020-09-30 01:29] clairernovotny commented on #35
I have them as a variable group in Pipelines. Then I can reference it from the yaml:

![image](https://user-images.githubusercontent.com/1427284/94633307-e2e7e700-029a-11eb-9401-ac4587468152.png)

[2020-10-01 00:14] mconnew commented on #35
I'm getting this error when attempting to sign the packages:
[code]
I've validated that the username and password are entered exactly as is in lastpass.
This is the details of the HTTP request from the logs:
[code]

[2020-10-01 08:45] xen2 opened #107 "New .NET Foundation Project Application: Stride Game Engine"
## 1.   General Information

**Project Name:** Stride

**License:** MIT

**Contributor (Company, Organization or individual name(s)):**
Originally Silicon Studio.
The project was then open-sourced and it is now maintained by the Stride community.

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/stride3d/stride

**Project Homepage URL (if different):** https://strid

[2020-10-01 14:18] clairernovotny commented on #35
When you created the variable group with the secrets, did you call it the same thing that's in the template? `Sign Client Credentials`

https://github.com/CoreWCF/CoreWCF/blob/master/templates/CodeSignStage.yml#L13

Those should match. Also, the two variable names should match (and be marked as secrets). https://github.com/CoreWCF/CoreWCF/blob/master/templates/CodeSignStage.yml#L38-L39

[2020-10-01 21:57] mconnew commented on #35
I had done all that, I'm super paranoid about extra spaces to the point that I always check for zero width unicode characters too (because the Windows certificate manager tool used to add a zero width unicode character at the end of the thumbprint and I got hit by that one too many times so am paranoid now!!).
I'm now beginning to suspect a bug in devops. I added a step which takes each of the use

[2020-10-01 23:37] mconnew commented on #35
I've worked out what the problem is. There's a subtle bug in the demo project which will only manifest with some secrets. The problem is [here](https://github.com/novotnyllc/CodeSigningDemo/blob/master/azure-pipelines.yml#L81). This way of using variables does substitution into the script. The problem is PowerShell does variable expansion inside of double quotes and if the secret contains a dollar

[2020-10-02 02:14] mconnew commented on #35
@clairernovotny, when you say to make dotnetfoundation as a co-owner in nuget, is this a property in the nuget package itself or metadata that I set once the package has been uploaded to nuget.org?

[2020-10-05 15:39] ChrisSfanos commented on #99
All onboarding steps are complete - closing out the work item

[2020-10-05 15:39] #99 closed

[2020-10-12 14:51] tom-englert opened #108 "Code Signing Certificate Request: DataGridExtensions"
### Please fill in the information below

- **Project Name:** DataGridExtensions
- **LastPass Email (or send offline):** -offline-

Certificate onboarding checklist:

- [x] Register trade name @ChrisSfanos
- [x] Create organization with DigiCert
- [x] Create configuration in Code Signing Service
- [x] Provide credentials in shared folder in LastPass
- [x] Request certificate from DigiCert
- [x] Re

[2020-10-12 18:46] ChrisSfanos commented on #108
Trade name registration submitted

[2020-10-13 15:15] TimHess opened #109 "Project Support Request: Steeltoe"
- **Project Name:** Steeltoe
- **Due by:** This week, if possible
- **Description:** I/We need access to the node resource group(s) that are automatically created when using AKS. I thought we might be able to get by without this access, but we need it in order to configure network resources. The group name for the current cluster is `MC_Steeltoe_steeltoe-staging_eastus2`. We are planning to add a

[2020-10-13 16:04] ChrisSfanos commented on #94
CLA bot is configured / remaining steps are complete - closing this out

[2020-10-13 16:04] #94 closed

[2020-10-13 23:28] isaacrlevin commented on #105
This is live, @clairernovotny can you close? (or give me close rights to this repo)

[2020-10-14 01:09] #105 closed

[2020-10-14 12:35] clairernovotny commented on #109
Should be all set now.

[2020-10-16 02:52] terrajobst opened #110 "Standardized badge for .NET Foundation projects"
---
**Issue moved from dotnet/designs#23**
- Please respond to @terrajobst.

---

_From @terrajobst on Friday, November 17, 2017 2:43:48 AM_

It would be nice if we could recommend projects that join the foundation to advertise to the world that they are members of the .NET Foundation. Of course, the banner would be optional but having a standard template would help making it easier for projects t

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @ghuntley.

---

_From @ghuntley on Friday, November 17, 2017 2:56:18 AM_

Hmm. Immediate thoughts are _what message should be conveyed in the Lorem ipsum?_ aka What are the features and benefits that need to be advertised? This makes or breaks the value of having the banner.

The following themes imho should be included in a standardi

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @terrajobst.

---

_From @terrajobst on Friday, November 17, 2017 5:08:11 AM_

I should have been clearer: The banner is for the project's README.md. The lorem ipsum is the summary that the project *already has* in their README file.

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @bradwilson.

---

_From @bradwilson on Friday, November 17, 2017 7:22:57 AM_

Happy to be a trend-setter. 😉

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @martinwoodward.

---

_From @martinwoodward on Friday, November 17, 2017 9:03:22 AM_

Like the idea - do you want to submit a PR to this:

https://github.com/dotnet/home/blob/master/guidance/readme-guide.md

Also - the image should probably have an `alt=".Net Foundation Logo"` or similar.

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @terrajobst.

---

_From @terrajobst on Friday, November 17, 2017 2:48:24 PM_

You mean `alt=".NET Foundation Logo"` right? 🤓😬

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @jongalloway.

---

_From @jongalloway on Tuesday, November 21, 2017 10:16:48 PM_

I think the idea is great. In the mockup that just shows the logo, though, it's not clear that it's a badge that links anywhere. Was thinking of something more GitHub badge-like (examples at https://shields.io/). That's harder to fit the logo in, but fit

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @terrajobst.

---

_From @terrajobst on Tuesday, November 21, 2017 10:58:30 PM_

I was thinking of shields.io before but I couldn't find out how we can apply some visual branding. Looks like you figured it out. Personally, I think that is a great idea!

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @bdukes.

---

_From @bdukes on Tuesday, November 21, 2017 11:13:20 PM_

[Shields.io has hackable URLs](https://shields.io/#your-badge), so you can mock things up fairly easily:

[![net-foundation-68217a](https://user-images.githubusercontent.com/59507/33101523-30f466b0-cede-11e7-867a-c48a04f6a353.png)](https://img.shields.io/badge/.NE

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @terrajobst.

---

_From @terrajobst on Tuesday, November 21, 2017 11:34:30 PM_

I vote for the second one as the first one is unregconizable.

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @jongalloway.

---

_From @jongalloway on Tuesday, November 21, 2017 11:55:35 PM_

@bdukes I like those and using shields.io is nice, but the logos are pretty hard to see. Here's one with the white version of the logo, any better?

[![net-foundationwhite-logo](https://i.imgur.com/oSdtB3G.png)](https://img.shields.io/badge/.NET-Foundati

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @terrajobst.

---

_From @terrajobst on Wednesday, November 22, 2017 1:28:27 AM_

I think the bot might be easier to see. Your example is bigger than what shields.io produces, once you scale it down it's similarly unreadable as the first logo @bdukes posted.

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @loic-sharma.

---

_From @loic-sharma on Wednesday, November 22, 2017 2:58:33 PM_

The bot is still pretty hard to see. I'd rather have the badge with no logo as it's cleaner:

[![.NET Foundation Logo](https://img.shields.io/badge/.NET-Foundation-68217a.svg)](https://dotnetfoundation.org/projects?type=project&q=entity-framework)

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @jnm2.

---

_From @jnm2 on Wednesday, November 22, 2017 4:45:17 PM_

Yeah, I was leaning towards what @loic-sharma says myself.

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @terrajobst.

---

_From @terrajobst on Wednesday, November 22, 2017 5:28:01 PM_

That works too. The key thing for me is that the link should be specific to the project, i.e. it shouldn't take the person to the generic .NET Foundation project list but an official page under dotnetfoundation.org that is specific to the project. This ca

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @poke.

---

_From @poke on Wednesday, November 22, 2017 5:38:55 PM_

Just wondering: If we use such shield badges, are we required to keep it at their usual size? After all, this badge is to mark that a project is part of the foundation, so it would make sense for the badge not to just blend in with all the other ones. I actually like

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @stevedesmond-ca.

---

_From @stevedesmond-ca on Thursday, November 23, 2017 3:20:03 AM_

Do .NET and Foundation need to be different colors? This use as a static image/logo doesn't really follow the live status-based pattern that the other badges have. I like single color with our good friend the bot best.

[2020-10-16 02:52] terrajobst commented on #110
---
**Issue moved from dotnet/designs#23**
- Please respond to @terrajobst.

---

_From @terrajobst on Saturday, April 6, 2019 6:20:18 AM_

@jongalloway can we revive this? Should we move the issue to https://github.com/dotnet/foundation?

[2020-10-16 05:22] Nirmal4G commented on #110
@terrajobst You could've used GitHub's move issue feature to move the issue ditectly rather than copying using a third-party tool. That could've preserved the links using redirection.

[2020-10-16 18:03] bruno-garcia commented on #110
@Nirmal4G not across github orgs

[2020-10-16 18:53] Nirmal4G commented on #110
@github Note this request. Issue moves across repos in different orgs!!

[2020-10-18 15:26] sbwalker opened #111 "Project Spotlight Request: Oqtane"
Project Name: Oqtane

Contributor (Company, Organization or individual name(s)): Shaun Walker

Source Code URL: https://github.com/oqtane/oqtane.framework

Documentation URL: In progress ( will be here http://oqtane.github.io/ )

Contribution URL:

Project Homepage URL (if different): https://www.oqtane.org/

Please provide a brief statement about your project in terms that are understandable to t

[2020-10-19 17:45] robmen opened #112 "Project Spotlight Request: WiX Toolset"
## General Information

**Project Name:** WiX Toolset

**Contributor (Company, Organization or individual name(s)):**
[Rob Mensching (FireGiant)](https://github.com/robmen)
[Bob Arnson (FireGiant)](https://github.com/barnson)
[Sean Hall](https://github.com/rseanhall)

**Source Code URL:**
https://github.com/wixtoolset/

**Documentation URL:**
https://wixtoolset.org/documentation/

**Contribution U

[2020-10-20 21:37] clairernovotny commented on #101
This took way longer than normal but it's resolved. I've shared the credentials in the LastPass. Happy to look at any PR's to add signing to your pipeline. Once the package is signed, please add `dotnetfoundation` as a co-owner on the NuGet packages.

[2020-10-23 20:12] TimHess commented on #109
Thanks for getting back to me so fast, sorry it took me so long to get back around to validating this update, but it did work. Unfortunately, we weren't able to setup an ingress controller with that cluster due to some apparent bug with the Kubernetes version used, so I ended up deleting that cluster and starting over.

If you could, when you have a chance, I would like access to the new secondary

[2020-10-29 19:51] valadas commented on #103
@clairernovotny The issue came back I am troubleshooting with a Mirosoft accounts technician and they say they need to get in touch with a Project Collection Administrator (PCA) ? Can we schedule something up with them.

My email is info@danielvaladas.com

Thanks

[2020-10-29 20:18] clairernovotny commented on #103
I am the admin of that instance....

[2020-10-29 21:24] valadas commented on #103
I know, can we setup a meeting? Can you email me to get you into that email thread with Microsoft or some such

[2020-10-29 21:47] josesimoes opened #113 "Project Support Request: .NET nanoFramework"
### Please fill in the information below:
- **Project Name:** .NET nanoFramework
- **Due by:** sometime during the next weeks
- **Description:** We currently have a collective under Open Collective fiscal host. I've noticed that the Foundation has a Fiscal host too. Was wondering if we can move it there.

[2020-10-31 03:44] ElderJames opened #114 "New Project Application of Ant Design Blazor"
## 1.   General Information

**Project Name:**

Ant Design Blazor

**License:**

MIT

**Contributor (Company, Organization or individual name(s)):**

@ElderJames
@mutouzdl
@TimChen44
@zxyao145
@Brian-Ding
@Epictek

**Existing OSS Project? (Yes/No):**

Yes

**Source Code URL:**

https://github.com/ant-design-blazor/ant-design-blazor

**Project Homepage URL (if different):**

https://ant-design-blaz

[2020-10-31 22:32] Perksey opened #115 "Silk.NET graphics & compute library"
## 1.   General Information

**Project Name:** Silk.NET

**License:** MIT

**Contributor (Company, Organization or individual name(s)):** Ultz Limited

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/Ultz/Silk.NET

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Aaron Pearson - aaron@ultz.co.uk

Full legal name and __email address__ requ

[2020-11-03 19:19] dellams opened #116 "Our World & The OASIS API"
## 1.   General Information

**Project Name:**

Our World

**License:**
GNU

**Contributor (Company, Organization or individual name(s)):**
NextGenSoftware Ltd/NextGen World Ltd/David Ellams/vhurryharry Alexander/jasonliudan Jason Liu

**Existing OSS Project? (Yes/No):**
Yes
**Source Code URL:**
https://github.com/NextGenSoftwareUK/Our-World-OASIS-API-HoloNET-HoloUnity-And-.NET-HDK

**Project Home

[2020-11-05 13:45] SpringLeee opened #117 "New .NET Foundation Project Application: HttpReports APM"
## 1.   General Information

**Project Name:**

HttpReports

**License:**

MIT

**Contributor (Company, Organization or individual name(s)):**

[@SpringLee](https://github.com/SpringLeee)
[@StratosBlue](https://github.com/StratosBlue)
[@mzorec](https://github.com/mzorec)

**Existing OSS Project? (Yes/No):**

Yes

**Source Code URL:**

[https://github.com/dotnetcore/HttpReports](https://github.com/

[2020-11-05 16:41] ChrisSfanos commented on #107
Hi everyone
I'll be driving the on-boarding process for Stride Game Engine to the .NET Foundation.  We will be working through the following checklist

## CLA
- [ ] Project Agreement Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Sla

[2020-11-05 16:42] ChrisSfanos commented on #90
Hi everyone
I will be driving the on-boarding for C# Standardization to the .NET Foundation.  We will be following the checklist below:

## CLA
- [ ] Project Agreement Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [

[2020-11-06 20:58] valadas commented on #103
Hi @clairernovotny did you get the email from me and Microsoft, I had no news for about a week, not sure if maybe that email got into your spam folder or what ?

[2020-11-11 15:29] clairernovotny commented on #109
Is there anything left to do for this issue, can we close it out?

[2020-11-11 15:29] clairernovotny commented on #108
Completed from digicert. Sorry it took so long on this.

[2020-11-11 15:31] clairernovotny commented on #108
I just invited you to the shared LastPass where the cert is setup and configured.

Few things:
1. Here's a template of how to add code signing to the build pipeline: https://github.com/novotnyllc/CodeSigningDemo
2. Once signing is configured, please add `dotnetfoundation` as a co-owner in NuGet.
3. If you have any 3rd party binaries in your packages, you'll need a whitelist.txt to include on your

[2020-11-11 15:33] TimHess commented on #109
Can you provide resource group access to `MC_Steeltoe_staging_eastus2` and `MC_Steeltoe_production_eastus2`? Then I think we'll be all set with this.

[2020-11-11 15:38] clairernovotny commented on #109
Should be all set now.

[2020-11-11 15:39] TimHess commented on #109
Excellent, thank you!

[2020-11-11 15:39] #109 closed

[2020-11-11 15:40] clairernovotny commented on #113
Can you please contact me offline on this -- claire at dotnetfoundation dot org.

[2020-11-11 17:26] AndrewTriesToCode opened #121 "Application for Finbuckle.MultiTenant"
## 1.   General Information

**Project Name:** Finbuckle.MultiTenant

**License:** Apache 2.0

**Contributor (Company, Organization or individual name(s)):** Finbuckle LLC, Andrew White (me), ~10 minor (<100 lines) contributors

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/Finbuckle/Finbuckle.MultiTenant

**Project Homepage URL (if different):** https://www.finb

[2020-11-11 22:25] isaacrlevin commented on #100
@tomasherceg @sbwalker We are probably going to skip November due to .NET Conf and such. @sbwalker is that ok if we push you to Jan or Feb?

[2020-11-12 14:46] gortok opened #122 "Discussion behind change to remove Contribution Model for new .NET Foundation Projects?"
There was a [PR that was completed that removed the "Contribution Model" for .NET Foundation projects](https://github.com/dotnet-foundation/projects/pull/118) (in the comments, it specifies 'new projects only'.

Two hours later, [that PR was reverted](https://github.com/dotnet-foundation/projects/pull/120).

I haven't seen much (if any) public discussion on this topic; and would like to understand

[2020-11-12 15:28] josesimoes opened #123 "Code Signing Certificate Request: .NET nanoFramework"
### Please fill in the information below

- **Project Name:** .NET nanoFramework
- **LastPass Email (or send offline):** nanoframework@outlook.com

Would like to provide signed packages for our VS extensions and NuGet packages.
(not 100% sure that this is the correct issue template...)

Certificate onboarding checklist:

- [x] Register trade name @ChrisSfanos
- [x] Create configuration in Code Sig

[2020-11-12 17:51] ChrisSfanos commented on #123
Trade Name registration has been submitted

[2020-11-13 20:37] sbwalker commented on #100
Obviously it would be more impactful to do the Oqtane spotlight in December - as Oqtane 2.0 was just released this week for .NET 5. But I can certainly wait to January if we need to push the schedule.

[2020-11-15 15:44] tom-englert commented on #108
Starting with version 2.4.7 packages are now signed.
https://github.com/dotnet/DataGridExtensions/commit/71406b90aa5377e3dc38b28f6b0992344cf93f37

[2020-11-15 15:44] #108 closed

[2020-11-17 12:20] tomasherceg commented on #100
@isaacrlevin No problem. :-)

[2020-11-18 15:23] XuanchenLin opened #124 "NanUI for WinForms"
## 1.   General Information

**Project Name:** NanUI

**License:** LGPL-3.0

**Contributor (Company, Organization or individual name(s)):** Xuanchen Lin

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/NetDimension/NanUI

**Project Homepage URL (if different):** https://github.com/NetDimension/NanUI

**Project Transfer Signatories:**
Xuanchen Lin, xuanchenlin@msn.c

[2020-11-18 15:27] clairernovotny commented on #124
Hi,

As a head's up, the Foundation does not currently permit restrictive licenses like LGPL. We require permissive licenses, such as MIT or Apache 2.0.

[2020-11-18 15:29] XuanchenLin commented on #124
OK, I'll change it to MIT soon

[2020-11-18 16:24] XuanchenLin commented on #124
Hi,

I have changed the project's license to MIT, and republished the NuGet packages.

[2020-11-22 15:37] tom-englert opened #125 "Project application: Tom's Toolbox"
## 1.   General Information

**Project Name:**
[code]

**License:**
[code]
**Contributor (Company, Organization or individual name(s)):**
[code]
**Existing OSS Project? (Yes/No):**
[code]

**Source Code URL:**
[code]
**Project Homepage URL (if different):**
[code]
**Project Transfer Signatories:**
Full legal name and __email address__ required of the individual(s) with the authority to transfer or

[2020-11-22 16:21] tom-englert opened #126 "Project Spotlight Request: ResX Resource Manager"
## General Information

**Project Name:**
[code]
**Contributor (Company, Organization or individual name(s)):**
[code]
**Source Code URL:**
[code]
**Documentation URL:**
[code]
**Contribution URL:**
[code]
**Project Homepage URL (if different):**
[code]
**Please provide a brief statement about your project in terms that are understandable to the target consumer of the library or project, i.e. an e

[2020-11-24 14:36] SpringHgui opened #127 "FastTunnel"
## 1.   General Information

**Project Name:**

**License:**

**Contributor (Company, Organization or individual name(s)):**

**Existing OSS Project? (Yes/No):**

**Source Code URL:**

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and __email address__ required of the individual(s) with the authority to transfer or contribute the project to the .NET Fo

[2020-11-24 20:32] bruno-garcia opened #128 "Project Support Request: [NuGet Trends] - Sentry GitHub App access to repository"
### Please fill in the information below:
- **Project Name:** NuGet Trends
- **Due by:** Eventually please.
- **Description:**

[NuGet Trends](https://github.com/dotnet/nuget-trends) uses [Sentry](http://sentry.io/) to monitor errors. [Sentry has a GitHub app](https://github.com/apps/sentry-io) to connect to the repo to get commit data and releases. It uses that to show what commit likely caused t

[2020-11-24 20:36] clairernovotny commented on #128
I installed it and granted it permission to your repo

[2020-11-24 21:02] gep13 opened #129 "Project Support Request: [Cake] LastPass Subscription"
# Please fill in the information below:
- **Project Name:** Cake
- **Due by:** No immediate rush
- **Description:**

When the Cake Team joined the .Net Foundation, we were offered LastPass Subscriptions for all team members.  This is used to share login details across the team.

The core team has expanded, and we are in need of 2 additional LastPass subscriptions, so that everyone on the team can

[2020-11-25 01:38] bruno-garcia commented on #128
@clairernovotny I could see the repo was allowed but somehow it didn't go through.
Do you mind removing the repo and adding it back again please?

I tried to do that but I can't:

![image](https://user-images.githubusercontent.com/1633368/100171805-fd060600-2e94-11eb-8eae-c70f40d6004a.png)

[2020-11-25 03:08] clairernovotny commented on #128
I removed and re-added it to your repo.

[2020-11-25 17:08] bruno-garcia commented on #128
Thank you again @clairernovotny !

[2020-11-25 21:05] bruno-garcia commented on #128
@clairernovotny I'm sorry but I didn't know that to add an integration you must be a member of both the the GitHub org and the Sentry org when you go through the add integration flow.

Here there's a video that shows how it's done (takes 30 seconds):
https://drive.google.com/file/d/1znxllMqSmJRuCC0bNys-aXERMTQfduWK/view?usp=sharing

I would send invite you in to the sentry.io NuGet Trends org.
Wou

[2020-12-03 11:37] gep13 commented on #129
@clairernovotny just wanted to follow up with regard to this request.  Do you require any additional information? Thanks

[2020-12-04 01:02] mconnew commented on #35
Closing this issue as everything has been resolved.

[2020-12-04 01:02] #35 closed

[2020-12-04 14:41] clairernovotny commented on #123
I just invited you to the shared LastPass where the cert is setup and configured.

Few things:
1. Here's a template of how to add code signing to the build pipeline: https://github.com/novotnyllc/CodeSigningDemo
2. Once signing is configured, please add `dotnetfoundation` as a co-owner in NuGet.
3. If you have any 3rd party binaries in your packages, you'll need a whitelist.txt to include on your

[2020-12-08 16:17] simpleidserver opened #130 "New .NET Foundation Project Application: CaseManagement"
## 1.   General Information

**Project Name:** : CaseManagement.

**License:** : Apache2.0 License.

**Contributor (Company, Organization or individual name(s)):**

@thabart
@simpleidserver

**Existing OSS Project? (Yes/No):**

Yes

**Source Code URL:**

https://github.com/simpleidserver/CaseManagement

**Project Homepage URL (if different):**

**Project Transfer Signatories:**
Full legal name and

[2020-12-08 18:03] ChrisSfanos commented on #107
Project agreement is out for signing

[2020-12-15 21:21] gortok commented on #122
@clairernovotny Is there any details you can provide on this?

[2020-12-17 11:09] josesimoes commented on #123
Thanks!

We have this setup now.
As the project publishes a bunch of NuGet I'm adding the signing to each one as the repo is touched.

@clairernovotny as a side note: I had to grab the certificate from the signed nupkg and upload it to NuGet.org, otherwise NuGet was refusing to accept the signed packages being published through the command line.

[2020-12-17 11:09] #123 closed

[2020-12-17 21:33] clairernovotny commented on #123
Hi @josesimoes the solution to this is to add `dotnetfoundation` as a co-owner to the NuGet packages. This is required for continuity reasons too. Can you please take care of that? We have all of the public certs attached to our NuGet org.

Thanks!

[2020-12-17 21:35] josesimoes commented on #123
I did that... still it complained about it...

[2020-12-17 21:51] clairernovotny commented on #123
I don't see the package ownership request. I have to accept it on my end too. On NuGet.org, if you go to Manage Package
![image](https://user-images.githubusercontent.com/1427284/102547999-03e4fa80-4088-11eb-86c5-9ee40419d19f.png)
 Under owners, you can add
![image](https://user-images.githubusercontent.com/1427284/102548030-0e06f900-4088-11eb-93fc-a688a0e2aa14.png)

You do need to do it for each

[2020-12-17 22:02] josesimoes commented on #123
🤔  I was under the impression that that co-ownership would happen automatically when adding the dotnetfoundation user to the package metadata...

[2020-12-17 22:03] clairernovotny commented on #123
Unfortunately that's not secure.... because it's not authenticated. Package ownership stuff has to be done on the website. I just accepted the one for `nanoFramework.Networking.Sntp`

[2020-12-17 22:07] josesimoes commented on #123
Got you!
I'll go ahead and do that to the other packages too.

PS: maybe it's a lack of understanding from my end, but it wasn't clear to me that the package co-ownership had to be handled on the NuGet website. Suggest that this is made clearer on the instructions. 😉

[2020-12-17 22:18] josesimoes commented on #123
OK just did that for all our packages. You now have a long queue of requests! 😄

[2020-12-17 22:41] clairernovotny commented on #123
All set now. And the UX for approving them isn't any better 😅

[2020-12-19 16:57] Perksey commented on #115
Thanks so much for accepting this application.

For reference, what is the .NET Foundation's holiday schedule this year? I appreciate there may be some delays over Christmas and the first part of the New Year, just want to gage when to expect to hear back and begin the process as I believe it should be a relatively easy onboarding (matching code of conduct, matching CLA which all contributors have

[2020-12-19 17:40] ChrisSfanos commented on #115
Hello! I'll be handling the onboarding for the project.  I'm on holiday until early January (officially) but may be online at a few points and will start the Agreement work if I can - thanks!

[2020-12-19 17:45] Perksey commented on #115
Awesome, thanks. No rush, we can pick this up in the new year.

Have a good Christmas!

[2021-01-05 16:41] ChrisSfanos commented on #121
Hello!  I will be driving the on-boarding process for this project - we will be following the checklist below

## CLA
- [ ] Project Agreement Signing via DocuSign
- [ ] CLA Onboarding via GitHub

## Project Onboarding
- [ ] Public Announcement via the .NET Foundation site/etc
- [ ] Joining the Project leader mailing list
- [ ] Joining the Project leader Slack channel
- [ ] Updating license/copyrig

[2021-01-05 16:47] ChrisSfanos commented on #121
CLA is out for signing via DocuSign

[2021-01-06 18:35] isaacrlevin commented on #111
@claire can you close this?

[2021-01-06 18:36] isaacrlevin commented on #100
Hey @tomasherceg, when would you be free for a 30 minute timeslot for your interview?

[2021-01-07 11:20] tomasherceg commented on #100
@isaacrlevin What is your timezone? I am in CET but I am happy to do the interview in the evening hours. My schedule i quite free on Friday 15th or Monday 18th.

[2021-01-07 19:12] isaacrlevin commented on #100
PST. What does your day look like Friday?

On Thu, Jan 7, 2021 at 3:20 AM Tomáš Herceg <notifications@github.com>
wrote:

[2021-01-07 22:00] #111 closed

[2021-01-08 22:34] pascalberger commented on #129
In the meantime we have additional maintainers and are in need of 4 additional subscriptions.

[2021-01-09 00:03] AndrewTriesToCode commented on #121
Hello @ChrisSfanos

Sorry for the slow response -- my day job has me busy with the new year. I will review the CLA shortly. Is the copyright assignment model the only option used for projects at this point?

[2021-01-12 15:32] tomasherceg commented on #100
Can we do Friday at 9 AM or 10 AM PST?

[2021-01-12 19:49] ChrisSfanos commented on #121
Hey @AndrewTriesToCode  - no worries 👍
Yes it is the only model at this point

[2021-01-12 20:00] isaacrlevin commented on #100
10 PST works great, can you give me an email to send the invite to?

On Tue, Jan 12, 2021 at 7:33 AM Tomáš Herceg <notifications@github.com>
wrote:

[2021-01-13 12:18] tomasherceg commented on #100
@isaacrlevin Please send the invite to info@dotvvm.com

[2021-01-18 15:52] MikeWilliams-UK opened #131 "Project Support Request: [Chem4Word]"
### Please fill in the information below:
- **Project Name:** Chem4Word
- **Due by:** 18-Jan-2021
- **Description:** MSDN Licence renewal

The MSDN license I use help maintain Chem4Word has expired.

I have filled in the OSS hero spreadsheet, could you please process this ASAP as Chem4Word relies on some Azure functions running in Azure subscription (using storage account, message bus) and a small

[2021-01-18 20:30] clairernovotny commented on #131
Can you please email me with the account information -- the email address -- attached to the subscription? claire at dotnetfoundation dot org.

[2021-01-18 20:39] MikeWilliams-UK commented on #131
Email sent thanks

[2021-01-18 20:41] MikeWilliams-UK commented on #131
Many thanks, just got email with the subscription details.

[2021-01-19 08:16] #131 closed

[2021-01-20 08:08] gep13 commented on #129
@clairernovotny would it be possible to get some feedback on whether this is going to be possible?

If it isn't, we can start looking into an alternative to ensure that all Cake Team members have access to all team related credentials.

[2021-01-20 13:01] clairernovotny commented on #129
Hi, apologies for the delay, this got caught up in the holiday chaos. Please email me the addresses of the people you'd like to add.

[2021-01-20 18:25] isaacrlevin commented on #100
@tomasherceg can you provide the github alias for your community contributors?

[2021-01-21 04:41] Trojaner opened #132 "OpenMod Project Application"
## 1.   General Information

**Project Name:** OpenMod

**[License](https://github.com/openmod/openmod/blob/main/LICENSE):**
- OpenMod Framework: MIT
- OpenMod Documentation: **Creative Commons Attribution 4.0 International** (CC BY 4.0)

**Contributor:** Enes Sadık Özbek (@Trojaner)

**Existing OSS Project? (Yes/No):** Yes

**Source Code URL:** https://github.com/openmod/openmod

**Project Homepa